In [22]:
include("../src/SyntheticPopulation.jl")
include("utils.jl")
using .SyntheticPopulation
using DataFrames
using StatsBase

WARNING: replacing module SyntheticPopulation.

# Summary:
Sample-free IPF algorithm is not efficient for creating joint distributions of the attributes that are highly dependent.

# 1. Population with dependent variables

### 1.1. Generate target population with dependent variables
First we generate target population that we'll try to synthesize using available algorithms. The variables marital status and income are highly dependent on sex.

In [23]:
SIZE = 300000
OLD_ADULTS = 0.6
YOUNG_ADULTS = 0.2
CHILDREN = 0.2

SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; 
MARITAL_STATUS_WEIGHTS_M = [0.1, 0.2, 0.3, 0.4]; 
MARITAL_STATUS_WEIGHTS_F = [0.4, 0.3, 0.2, 0.1];

AGE_YOUNG_ADULT = [20, 25];
AGE_YOUNG_ADULT_WEIGHTS = repeat([1 / length(AGE_YOUNG_ADULT)], length(AGE_YOUNG_ADULT));
AGE_OLD_ADULT = [30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80];
AGE_OLD_ADULT_WEIGHTS = repeat([1 / length(AGE_OLD_ADULT)], length(AGE_OLD_ADULT));
AGE_CHILDREN = [5, 10, 15];
AGE_CHILDREN_WEIGHTS = repeat([1 / length(AGE_CHILDREN)], length(AGE_CHILDREN));

INCOME = [40000, 50000, 60000, 70000, 80000];
ZERO_INCOME = [60000, 70000, 80000]
INCOME_WEIGHTS_M_YOUNG = SIZE ./ 2 .* YOUNG_ADULTS .* [0.01, 0.1, 0, 0, 0];
INCOME_WEIGHTS_F_YOUNG = SIZE ./ 2 .* YOUNG_ADULTS .* [0.39, 0.3, 0, 0, 0];
INCOME_WEIGHTS_M_OLD = SIZE ./2 * (OLD_ADULTS+YOUNG_ADULTS) .* [0.01, 0.1, 0.2, 0.3, 0.39] .- INCOME_WEIGHTS_M_YOUNG;
INCOME_WEIGHTS_F_OLD = SIZE ./2 * (OLD_ADULTS+YOUNG_ADULTS) .*[0.39, 0.3, 0.2, 0.1, 0.01] .- INCOME_WEIGHTS_F_YOUNG;

population_m_young_adult = DataFrame(
    AGE = sample(AGE_YOUNG_ADULT, Weights(AGE_YOUNG_ADULT_WEIGHTS), Int(SIZE * YOUNG_ADULTS / 2)),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_STATUS_WEIGHTS_M), Int(SIZE * YOUNG_ADULTS / 2)),
    SEX = repeat(['M'], Int(SIZE * YOUNG_ADULTS / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_M_YOUNG), Int(SIZE * YOUNG_ADULTS / 2)),
)
population_f_young_adult = DataFrame(
    AGE = sample(AGE_YOUNG_ADULT, Weights(AGE_YOUNG_ADULT_WEIGHTS), Int(SIZE * YOUNG_ADULTS / 2)),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_STATUS_WEIGHTS_F), Int(SIZE * YOUNG_ADULTS / 2)),
    SEX = repeat(['F'], Int(SIZE * YOUNG_ADULTS / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_M_YOUNG), Int(SIZE * YOUNG_ADULTS / 2)),
)
population_m_old_adult = DataFrame(
    AGE = sample(AGE_OLD_ADULT, Weights(AGE_OLD_ADULT_WEIGHTS), Int(SIZE * OLD_ADULTS / 2)),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_STATUS_WEIGHTS_M), Int(SIZE * OLD_ADULTS / 2)),
    SEX = repeat(['M'], Int(SIZE * OLD_ADULTS / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_M_OLD), Int(SIZE * OLD_ADULTS / 2)),
)
population_f_old_adult = DataFrame(
    AGE = sample(AGE_OLD_ADULT, Weights(AGE_OLD_ADULT_WEIGHTS), Int(SIZE * OLD_ADULTS / 2)),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_STATUS_WEIGHTS_F), Int(SIZE * OLD_ADULTS / 2)),
    SEX = repeat(['F'], Int(SIZE * OLD_ADULTS / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_F_OLD), Int(SIZE * OLD_ADULTS / 2)),
)
population_children = DataFrame(
    AGE = sample(AGE_CHILDREN, Weights(AGE_CHILDREN_WEIGHTS), Int(SIZE * CHILDREN)),
    MARITAL_STATUS = repeat([missing], Int(SIZE * CHILDREN)),
    SEX = sample(SEX, Weights(SEX_WEIGHTS), Int(SIZE * CHILDREN)),
    INCOME = repeat([missing], Int(SIZE * CHILDREN))
)

disaggregated_dependent_population = reduce(vcat, [
    population_m_young_adult, 
    population_f_young_adult,
    population_m_old_adult,
    population_f_old_adult,
    population_children
    ]
)

dependent_population = combine(groupby(disaggregated_dependent_population, names(disaggregated_dependent_population), sort=true), nrow)
rename!(dependent_population, :nrow => :population)
zero_population = DataFrame(vec(collect(Iterators.product(AGE_YOUNG_ADULT, MARITAL_STATUS, SEX, ZERO_INCOME))))
zero_population.:population = repeat([0], nrow(zero_population))
rename!(zero_population, names(dependent_population))
dependent_population = reduce(vcat, [dependent_population, zero_population])

526Ã—5 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME   population
     â”‚ Int64  String?         Char  Int64?   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  missing         F     missing       10086
   2 â”‚     5  missing         M     missing       10066
   3 â”‚    10  missing         F     missing        9996
   4 â”‚    10  missing         M     missing        9789
   5 â”‚    15  missing         F     missing        9926
   6 â”‚    15  missing         M     missing       10137
   7 â”‚    20  Divorced        F       40000         249
   8 â”‚    20  Divorced        F       50000        2821
  â‹®  â”‚   â‹®          â‹®          â‹®       â‹®         â‹®
 520 â”‚    25  Not_married     F       80000           0
 521 â”‚    20  Married         F       80000           0
 522 â”‚    25  Married         F       80000           0
 523 â”‚    20  Divorced        F       80000           0
 524 â”‚    25  Divorced        F       80000           0
 525 â”‚    20  Widowed         F       80000           0
 526 â”‚    25  Widowed         F       80000           0
                                        511 rows omitted

### 1.2. Compute marginal attribute distributions of the dependent population
Then we compute the marginal population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [24]:
#Population by age and sex
dependent_age_sex = combine(groupby(disaggregated_dependent_population, [:AGE, :SEX], sort=true), nrow); 
sort!(dependent_age_sex, [:SEX, :AGE])

#Population by sex and marital status
dependent_sex_marital = combine(groupby(disaggregated_dependent_population, [:MARITAL_STATUS, :SEX], sort=true), nrow); 
sort!(dependent_sex_marital, [:SEX, :MARITAL_STATUS])

#Population by income
dependent_income = combine(groupby(disaggregated_dependent_population, [:INCOME], sort=true), nrow)

#Correct column names
dependent_age_sex, dependent_sex_marital, dependent_income = map(x -> rename!(x, :nrow => :population), [dependent_age_sex, dependent_sex_marital, dependent_income])

#filter out missing values
dependent_sex_marital = filter(:MARITAL_STATUS => x -> typeof(x) != Missing, dependent_sex_marital)
dependent_income = filter(:INCOME => x -> typeof(x) != Missing, dependent_income)

5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64?  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       38003
   2 â”‚  50000       85892
   3 â”‚  60000       40390
   4 â”‚  70000       38496
   5 â”‚  80000       37219

### 1.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the attributes.

#### Guo, Bhat, 2007

In [25]:
guo_bhat = SyntheticPopulation.generate_joint_distribution(dependent_age_sex, dependent_sex_marital, dependent_income)
guo_bhat = guo_bhat[:, Not(:id)]

â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [150008, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [149992, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [300002, 240000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130

640Ã—5 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String          Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000         322
   2 â”‚    10  Divorced        F      40000         319
   3 â”‚    15  Divorced        F      40000         317
   4 â”‚    20  Divorced        F      40000         481
   5 â”‚    25  Divorced        F      40000         476
   6 â”‚    30  Divorced        F      40000         259
   7 â”‚    35  Divorced        F      40000         260
   8 â”‚    40  Divorced        F      40000         262
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®
 634 â”‚    50  Widowed         M      80000         504
 635 â”‚    55  Widowed         M      80000         503
 636 â”‚    60  Widowed         M      80000         510
 637 â”‚    65  Widowed         M      80000         507
 638 â”‚    70  Widowed         M      80000         495
 639 â”‚    75  Widowed         M      80000         501
 640 â”‚    80  Widowed         M      80000         500
                                       625 rows omitted

#### Ponge, Enbergs, Schungel, Hellingrath, Karch, Ludwig, 2021

In [26]:
ponge_et_al = SyntheticPopulation.generate_joint_distribution(dependent_age_sex, dependent_sex_marital, dependent_income, config_file = "ind_ponge2021.json")
ponge_et_al = ponge_et_al[:, Not(:id)]

â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [150008, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Warning: Did not converge. Try increasing the number of iterations. Maximum absolute difference between subsequent iterations: NaN
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:128
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [150008, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [149992, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Warning: Did not converge. Try increasing the number of iterations. Maximum absolute difference between subsequent iterations: NaN
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:128
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [149992, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130

â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [300002, 240000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 18 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130

640Ã—5 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String          Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000         246
   2 â”‚    10  Divorced        F      40000         244
   3 â”‚    15  Divorced        F      40000         242
   4 â”‚    20  Divorced        F      40000         932
   5 â”‚    25  Divorced        F      40000         921
   6 â”‚    30  Divorced        F      40000         198
   7 â”‚    35  Divorced        F      40000         199
   8 â”‚    40  Divorced        F      40000         201
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®
 634 â”‚    50  Widowed         M      80000         631
 635 â”‚    55  Widowed         M      80000         629
 636 â”‚    60  Widowed         M      80000         638
 637 â”‚    65  Widowed         M      80000         634
 638 â”‚    70  Widowed         M      80000         619
 639 â”‚    75  Widowed         M      80000         626
 640 â”‚    80  Widowed         M      80000         625
                                       625 rows omitted

#### Modified algorithm

In [27]:
modified = SyntheticPopulation.generate_joint_distribution(dependent_age_sex, dependent_sex_marital, dependent_income, config_file = "ind_modified.json")
modified = modified[:, Not(:id)]

â”Œ Warning: Did not converge. Try increasing the number of iterations. Maximum absolute difference between subsequent iterations: NaN
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:128
â”Œ Info: Converged in 2 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Warning: Did not converge. Try increasing the number of iterations. Maximum absolute difference between subsequent iterations: NaN
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:128
â”Œ Info: Converged in 2 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [30008, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [29992, 120000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [239998, 240000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 22 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [60004, 240000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130

526Ã—5 DataFrame
 Row â”‚ AGE     MARITAL_STATUS  SEX    INCOME   population
     â”‚ Int64?  String?         Char?  Int64?   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚      5  missing         F      missing       10088
   2 â”‚     10  missing         F      missing        9997
   3 â”‚     15  missing         F      missing        9928
   4 â”‚     20  Divorced        F        40000         932
   5 â”‚     25  Divorced        F        40000         921
   6 â”‚     30  Divorced        F        40000         178
   7 â”‚     35  Divorced        F        40000         179
   8 â”‚     40  Divorced        F        40000         180
  â‹®  â”‚   â‹®           â‹®           â‹®       â‹®         â‹®
 520 â”‚     50  Widowed         M        80000         673
 521 â”‚     55  Widowed         M        80000         671
 522 â”‚     60  Widowed         M        80000         680
 523 â”‚     65  Widowed         M        80000         676
 524 â”‚     70  Widowed         M        80000         660
 525 â”‚     75  Widowed         M        80000         668
 526 â”‚     80  Widowed         M        80000         667
                                          511 rows omitted

### 1.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by [Williamson, 2013] [1].


[1] Williamson, P. (2013). An evaluation of two synthetic small-area microdata simulation methodologies: Synthetic reconstruction and combinatorial optimisation. Spatial microsimulation: A reference guide for users, 19-47. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

#### Guo, Bhat, 2007

In [28]:
validate_table(guo_bhat, dependent_population)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.011406844106463879
Percentage of well fitting values at 0.90 confidence interval: 0.0076045627376425855

==================
=Table statistics=
==================
Statistic value equals: Inf
Table is not well fitting.

526Ã—7 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME   population  estimated_population  â‹¯
     â”‚ Int64  String?         Char  Int64?   Int64       Int64?                â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  Divorced        F       40000         249                   481  â‹¯
   2 â”‚    20  Divorced        F       50000        2821                  1087
   3 â”‚    20  Divorced        F       60000           0                   511
   4 â”‚    20  Divorced        F       70000           0                   487
   5 â”‚    20  Divorced        F       80000           0                   471  â‹¯
   6 â”‚    20  Divorced        M       40000         431                   714
   7 â”‚    20  Divorced        M       50000        4111                  1614
   8 â”‚    20  Divorced        M       60000           0                   759
  â‹®  â”‚   â‹®          â‹®          â‹®       â‹®         â‹®                â‹®            â‹±
 520 â”‚    80  Widowed         M       80000        1303                   500  â‹¯
 521 â”‚     5  missing         F     missing       10086                     0
 522 â”‚     5  missing         M     missing       10066                     0
 523 â”‚    10  missing         F     missing        9996                     0
 524 â”‚    10  missing         M     missing        9789                     0  â‹¯
 525 â”‚    15  missing         F     missing        9926                     0
 526 â”‚    15  missing         M     missing       10137                     0
                                                   1 column and 511 rows omitted

#### Ponge, Enbergs, Schungel, Hellingrath, Karch, Ludwig, 2021

In [29]:
validate_table(ponge_et_al, dependent_population)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.2623574144486692
Percentage of well fitting values at 0.90 confidence interval: 0.24904942965779467

==================
=Table statistics=
==================
Statistic value equals: 594442.2578293269
Table is not well fitting.

526Ã—7 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME   population  estimated_population  â‹¯
     â”‚ Int64  String?         Char  Int64?   Int64       Int64?                â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    20  Divorced        F       40000         249                   932  â‹¯
   2 â”‚    20  Divorced        F       50000        2821                  2105
   3 â”‚    20  Divorced        F       60000           0                     0
   4 â”‚    20  Divorced        F       70000           0                     0
   5 â”‚    20  Divorced        F       80000           0                     0  â‹¯
   6 â”‚    20  Divorced        M       40000         431                  1384
   7 â”‚    20  Divorced        M       50000        4111                  3127
   8 â”‚    20  Divorced        M       60000           0                     0
  â‹®  â”‚   â‹®          â‹®          â‹®       â‹®         â‹®                â‹®            â‹±
 520 â”‚    80  Widowed         M       80000        1303                   625  â‹¯
 521 â”‚     5  missing         F     missing       10086                     0
 522 â”‚     5  missing         M     missing       10066                     0
 523 â”‚    10  missing         F     missing        9996                     0
 524 â”‚    10  missing         M     missing        9789                     0  â‹¯
 525 â”‚    15  missing         F     missing        9926                     0
 526 â”‚    15  missing         M     missing       10137                     0
                                                   1 column and 511 rows omitted

#### Modified algorithm

In [30]:
validate_table(modified, dependent_population)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.2376425855513308
Percentage of well fitting values at 0.90 confidence interval: 0.20912547528517111

==================
=Table statistics=
==================
Statistic value equals: 526200.9116311877
Table is not well fitting.

526Ã—7 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME   population  estimated_population  â‹¯
     â”‚ Int64  String?         Char  Int64?   Int64       Int64?                â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  missing         F     missing       10086                 10088  â‹¯
   2 â”‚     5  missing         M     missing       10066                 10067
   3 â”‚    10  missing         F     missing        9996                  9997
   4 â”‚    10  missing         M     missing        9789                  9790
   5 â”‚    15  missing         F     missing        9926                  9928  â‹¯
   6 â”‚    15  missing         M     missing       10137                 10137
   7 â”‚    20  Divorced        F       40000         249                   932
   8 â”‚    20  Divorced        F       50000        2821                  2105
  â‹®  â”‚   â‹®          â‹®          â‹®       â‹®         â‹®                â‹®            â‹±
 520 â”‚    80  Widowed         F       70000          93                   175  â‹¯
 521 â”‚    80  Widowed         F       80000           7                   169
 522 â”‚    80  Widowed         M       40000          23                   351
 523 â”‚    80  Widowed         M       50000         231                   794
 524 â”‚    80  Widowed         M       60000         668                   724  â‹¯
 525 â”‚    80  Widowed         M       70000         979                   690
 526 â”‚    80  Widowed         M       80000        1303                   667
                                                   1 column and 511 rows omitted

### 1.5 Internal Validation

Once the tables have been generated, the internal validation can be performed. This is done to assess the distance between input contingency tables the the generated tables.

#### Guo, Bhat, 2007

In [31]:
guo_bhat_age_sex, guo_bhat_sex_marital, guo_bhat_income = compute_marginals(guo_bhat)

(32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          10088
   2 â”‚     5  M          10067
   3 â”‚    10  F           9997
   4 â”‚    10  M           9790
   5 â”‚    15  F           9928
   6 â”‚    15  M          10137
   7 â”‚    20  F          15083
   8 â”‚    20  M          14873
  â‹®  â”‚   â‹®     â‹®        â‹®
  26 â”‚    65  M           8247
  27 â”‚    70  F           8239
  28 â”‚    70  M           8053
  29 â”‚    75  F           8167
  30 â”‚    75  M           8148
  31 â”‚    80  F           8178
  32 â”‚    80  M           8136
                17 rows omitted, 8Ã—3 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population
     â”‚ String          Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          30207
   2 â”‚ Divorced        M          45492
   3 â”‚ Married         F          45088
   4 â”‚ Married         M          30247
   5 â”‚ Not_married     F          59699
   6 â”‚ Not_married     M          14803
   7 â”‚ Widowed         F          15020
   8 â”‚ Widowed         M          59453, 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       47505
   2 â”‚  50000      107366
   3 â”‚  60000       50491
   4 â”‚  70000       48122
   5 â”‚  80000       46525)

In [32]:
validate_table(guo_bhat_age_sex, dependent_age_sex)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 1.0
Percentage of well fitting values at 0.90 confidence interval: 1.0

==================
=Table statistics=
==================
Statistic value equals: 0.008775099886151695
Table is well fitting at 0.9 and 0.95 confidence interval.

32Ã—5 DataFrame
 Row â”‚ AGE    SEX   population  estimated_population  Z_score
     â”‚ Int64  Char  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          10086                 10088  -0.020258
   2 â”‚     5  M          10066                 10067  -0.0101387
   3 â”‚    10  F           9996                  9997  -0.0101729
   4 â”‚    10  M           9789                  9790  -0.0102762
   5 â”‚    15  F           9926                  9928  -0.020415
   6 â”‚    15  M          10137                 10137   0.0
   7 â”‚    20  F          15085                 15083   0.0167094
   8 â”‚    20  M          14875                 14873   0.0168207
  â‹®  â”‚   â‹®     â‹®        â‹®                â‹®                â‹®
  26 â”‚    65  M           8246                  8247  -0.0111668
  27 â”‚    70  F           8240                  8239   0.0111708
  28 â”‚    70  M           8050                  8053  -0.0338945
  29 â”‚    75  F           8165                  8167  -0.0224411
  30 â”‚    75  M           8148                  8148   0.0
  31 â”‚    80  F           8180                  8178   0.0224211
  32 â”‚    80  M           8137                  8136   0.0112393
                                                  17 rows omitted

In [33]:
validate_table(guo_bhat_sex_marital, dependent_sex_marital)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.0
Percentage of well fitting values at 0.90 confidence interval: 0.0

==================
=Table statistics=
==================
Statistic value equals: 17703.528812267272
Table is not well fitting.

8Ã—5 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population  estimated_population  Z_score
     â”‚ String?         Char  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          24163                 30207  -41.0007
   2 â”‚ Divorced        M          36393                 45492  -51.7838
   3 â”‚ Married         F          36069                 45088  -51.5176
   4 â”‚ Married         M          24197                 30247  -41.0158
   5 â”‚ Not_married     F          47753                 59699  -61.0799
   6 â”‚ Not_married     M          11845                 14803  -27.8754
   7 â”‚ Widowed         F          12015                 15020  -28.1278
   8 â”‚ Widowed         M          47565                 59453  -60.8736

In [34]:
validate_table(guo_bhat_income, dependent_income)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.0
Percentage of well fitting values at 0.90 confidence interval: 0.0

==================
=Table statistics=
==================
Statistic value equals: 19841.805899022544
Table is not well fitting.

5Ã—4 DataFrame
 Row â”‚ INCOME  population  estimated_population  Z_score
     â”‚ Int64?  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       38003                 47505  -53.1299
   2 â”‚  50000       85892                107366  -91.4386
   3 â”‚  60000       40390                 50491  -55.1115
   4 â”‚  70000       38496                 48122  -53.5429
   5 â”‚  80000       37219                 46525  -52.4774

#### Ponge, Enbergs, Schungel, Hellingrath, Karch, Ludwig, 2021

In [35]:
ponge_et_al_age_sex, ponge_et_al_sex_marital, ponge_et_al_income = compute_marginals(ponge_et_al)

(32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          10088
   2 â”‚     5  M          10066
   3 â”‚    10  F           9997
   4 â”‚    10  M           9789
   5 â”‚    15  F           9927
   6 â”‚    15  M          10137
   7 â”‚    20  F          15084
   8 â”‚    20  M          14874
  â‹®  â”‚   â‹®     â‹®        â‹®
  26 â”‚    65  M           8246
  27 â”‚    70  F           8242
  28 â”‚    70  M           8048
  29 â”‚    75  F           8166
  30 â”‚    75  M           8146
  31 â”‚    80  F           8179
  32 â”‚    80  M           8136
                17 rows omitted, 8Ã—3 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population
     â”‚ String          Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          30210
   2 â”‚ Divorced        M          45488
   3 â”‚ Married         F          45089
   4 â”‚ Married         M          30240
   5 â”‚ Not_married     F          59695
   6 â”‚ Not_married     M          14799
   7 â”‚ Widowed         F          15021
   8 â”‚ Widowed         M          59449, 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       47501
   2 â”‚  50000      107363
   3 â”‚  60000       50482
   4 â”‚  70000       48117
   5 â”‚  80000       46528)

In [36]:
validate_table(ponge_et_al_age_sex, dependent_age_sex)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 1.0
Percentage of well fitting values at 0.90 confidence interval: 1.0

==================
=Table statistics=
==================
Statistic value equals: 0.00711812581680025
Table is well fitting at 0.9 and 0.95 confidence interval.

32Ã—5 DataFrame
 Row â”‚ AGE    SEX   population  estimated_population  Z_score
     â”‚ Int64  Char  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          10086                 10088  -0.020258
   2 â”‚     5  M          10066                 10066   0.0
   3 â”‚    10  F           9996                  9997  -0.0101729
   4 â”‚    10  M           9789                  9789   0.0
   5 â”‚    15  F           9926                  9927  -0.0102075
   6 â”‚    15  M          10137                 10137   0.0
   7 â”‚    20  F          15085                 15084   0.00835469
   8 â”‚    20  M          14875                 14874   0.00841036
  â‹®  â”‚   â‹®     â‹®        â‹®                â‹®                 â‹®
  26 â”‚    65  M           8246                  8246   0.0
  27 â”‚    70  F           8240                  8242  -0.0223416
  28 â”‚    70  M           8050                  8048   0.0225964
  29 â”‚    75  F           8165                  8166  -0.0112205
  30 â”‚    75  M           8148                  8146   0.0224638
  31 â”‚    80  F           8180                  8179   0.0112105
  32 â”‚    80  M           8137                  8136   0.0112393
                                                   17 rows omitted

In [37]:
validate_table(ponge_et_al_sex_marital, dependent_sex_marital)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.0
Percentage of well fitting values at 0.90 confidence interval: 0.0

==================
=Table statistics=
==================
Statistic value equals: 17692.974117952195
Table is not well fitting.

8Ã—5 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population  estimated_population  Z_score
     â”‚ String?         Char  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          24163                 30210  -41.0211
   2 â”‚ Divorced        M          36393                 45488  -51.761
   3 â”‚ Married         F          36069                 45089  -51.5233
   4 â”‚ Married         M          24197                 30240  -40.9684
   5 â”‚ Not_married     F          47753                 59695  -61.0594
   6 â”‚ Not_married     M          11845                 14799  -27.8377
   7 â”‚ Widowed         F          12015                 15021  -28.1371
   8 â”‚ Widowed         M          47565                 59449  -60.8531

In [38]:
validate_table(ponge_et_al_income, dependent_income)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 0.0
Percentage of well fitting values at 0.90 confidence interval: 0.0

==================
=Table statistics=
==================
Statistic value equals: 19830.482214515705
Table is not well fitting.

5Ã—4 DataFrame
 Row â”‚ INCOME  population  estimated_population  Z_score
     â”‚ Int64?  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       38003                 47501  -53.1076
   2 â”‚  50000       85892                107363  -91.4258
   3 â”‚  60000       40390                 50482  -55.0624
   4 â”‚  70000       38496                 48117  -53.5151
   5 â”‚  80000       37219                 46528  -52.4944

#### Modified

In [39]:
modified_age_sex, modified_sex_marital, modified_income = compute_marginals(modified)

(32Ã—3 DataFrame
 Row â”‚ AGE     SEX    population
     â”‚ Int64?  Char?  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚      5  F           10088
   2 â”‚      5  M           10067
   3 â”‚     10  F            9997
   4 â”‚     10  M            9790
   5 â”‚     15  F            9928
   6 â”‚     15  M           10137
   7 â”‚     20  F           15084
   8 â”‚     20  M           14874
  â‹®  â”‚   â‹®       â‹®        â‹®
  26 â”‚     65  M            8246
  27 â”‚     70  F            8241
  28 â”‚     70  M            8050
  29 â”‚     75  F            8167
  30 â”‚     75  M            8148
  31 â”‚     80  F            8179
  32 â”‚     80  M            8138
                  17 rows omitted, 8Ã—3 DataFrame
 Row â”‚ MARITAL_STATUS  SEX    population
     â”‚ String?         Char?  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F           24166
   2 â”‚ Divorced        M           36391
   3 â”‚ Married         F           36071
   4 â”‚ Married         M           24193
   5 â”‚ Not_married     F           47755
   6 â”‚ Not_married     M           11843
   7 â”‚ Widowed         F           12015
   8 â”‚ Widowed         M           47565, 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64?  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       38005
   2 â”‚  50000       85889
   3 â”‚  60000       40390
   4 â”‚  70000       38496
   5 â”‚  80000       37219)

In [40]:
validate_table(modified_age_sex, dependent_age_sex)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 1.0
Percentage of well fitting values at 0.90 confidence interval: 1.0

==================
=Table statistics=
==================
Statistic value equals: 0.0071171169063627745
Table is well fitting at 0.9 and 0.95 confidence interval.

32Ã—5 DataFrame
 Row â”‚ AGE    SEX   population  estimated_population  Z_score
     â”‚ Int64  Char  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          10086                 10088  -0.020258
   2 â”‚     5  M          10066                 10067  -0.0101387
   3 â”‚    10  F           9996                  9997  -0.0101729
   4 â”‚    10  M           9789                  9790  -0.0102762
   5 â”‚    15  F           9926                  9928  -0.020415
   6 â”‚    15  M          10137                 10137   0.0
   7 â”‚    20  F          15085                 15084   0.00835469
   8 â”‚    20  M          14875                 14874   0.00841036
  â‹®  â”‚   â‹®     â‹®        â‹®                â‹®                 â‹®
  26 â”‚    65  M           8246                  8246   0.0
  27 â”‚    70  F           8240                  8241  -0.0111708
  28 â”‚    70  M           8050                  8050   0.0
  29 â”‚    75  F           8165                  8167  -0.0224411
  30 â”‚    75  M           8148                  8148   0.0
  31 â”‚    80  F           8180                  8179   0.0112105
  32 â”‚    80  M           8137                  8138  -0.0112393
                                                   17 rows omitted

In [41]:
validate_table(modified_sex_marital, dependent_sex_marital)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 1.0
Percentage of well fitting values at 0.90 confidence interval: 1.0

==================
=Table statistics=
==================
Statistic value equals: 0.0018694172078463035
Table is well fitting at 0.9 and 0.95 confidence interval.

8Ã—5 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population  estimated_population  Z_score
     â”‚ String?         Char  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          24163                 24166  -0.0203511
   2 â”‚ Divorced        M          36393                 36391   0.0113823
   3 â”‚ Married         F          36069                 36071  -0.0114242
   4 â”‚ Married         M          24197                 24193   0.0271179
   5 â”‚ Not_married     F          47753                 47755  -0.010226
   6 â”‚ Not_married     M          11845                 11843   0.0188475
   7 â”‚ Widowed         F          12015                 12015   0.0
   8 â”‚ Widowed         M          47565                 47565   0.0

In [42]:
validate_table(modified_income, dependent_income)

=================
=Cell statistics=
=================
Percentage of well fitting values at 0.95 confidence interval: 1.0
Percentage of well fitting values at 0.90 confidence interval: 1.0

==================
=Table statistics=
==================
Statistic value equals: 0.00028824047519773564
Table is well fitting at 0.9 and 0.95 confidence interval.

5Ã—4 DataFrame
 Row â”‚ INCOME  population  estimated_population  Z_score
     â”‚ Int64?  Int64       Int64?                Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000       38003                 38005  -0.0111829
   2 â”‚  50000       85892                 85889   0.0127743
   3 â”‚  60000       40390                 40390   0.0
   4 â”‚  70000       38496                 38496   0.0
   5 â”‚  80000       37219                 37219   0.0