## Data generation

#### Include needed files
The data and functiones are not explained here - detailed explanation is provided in `demo.ipynb`. This notebook only executes the code so that tables can be descirbed in further part.

In [6]:
include("../src/SyntheticPopulation.jl")

SCALE = 0.001 
popoulation_size = 21890000

marginal_ind_age_sex = DataFrame(
    sex = repeat(['M', 'F'], 18),
    age = repeat(2:5:87, inner = 2), 
    population = SCALE .* 10000 .* [52.6, 49.0, 48.5, 44.8, 33.6, 30.6, 34.6, 28.8, 71.6, 63.4, 99.6, 90.9, 130.9, 119.4, 110.8, 103.5, 83.8, 76.4, 84.2, 77.7, 84.2, 77.8, 82.8, 79.9, 67.7, 71.0, 56.9, 62.6, 31.5, 35.3, 18.5, 23.0, 15.2, 19.7, 12.5, 16.0]
    )
marginal_ind_sex_maritalstatus = DataFrame(
    sex = repeat(['M', 'F'], 4), 
    maritalstatus = repeat(["Not_married", "Married", "Divorced", "Widowed"], inner = 2), 
    population = SCALE .* [1679, 1611, 5859, 5774, 140, 206, 128, 426] ./ 0.00082
    )
marginal_ind_income = DataFrame(
    income = [25394, 44855, 63969, 88026, 145915], 
    population = repeat([popoulation_size * SCALE / 5], 5)
    )
marginal_hh_size = DataFrame(
    hh_size = [1,2,3,4,5],
    population = Int.(round.(SCALE * 8230000 .* [0.299, 0.331, 0.217, 0.09, 0.063]))
    )

#areas
URL = "https://osm-boundaries.com/Download/Submit?apiKey=87100809b4085adb58139419c141e5a1&db=osm20230102&osmIds=-2988894,-2988933,-2988895,-288600,-2988896,-2988946,-5505984,-2988897,-2988898,-2988899,-2988900,-5505985,-2988901,-2988902,-568660,-2988903&format=GeoJSON&srid=4326"
areas = generate_areas_dataframe(URL)
aggregated_areas = copy(areas)
aggregated_areas.:population = Int.(round.(SCALE .* 10000 .* [56.8, 313.2, 201.9, 345.1, 34.6, 184.0, 132.4, 45.7, 52.8, 39.3, 44.1, 131.3, 199.4, 226.9, 110.6, 70.9]))

#households and individuals
aggregated_individuals = generate_joint_distributions(marginal_ind_sex_maritalstatus, marginal_ind_age_sex, marginal_ind_income, config_file = "config_file.json")
aggregated_households = generate_joint_distributions(marginal_hh_size)

#Allocation
disaggregated_households, unassigned1 = assign_individuals_to_households(aggregated_individuals, aggregated_households, return_unassigned = true)
disaggregated_households, unassigned2 = assign_areas_to_households!(disaggregated_households, aggregated_areas, return_unassigned = true)

nothing

Downloading file...
File downloaded. Unzipping file...
File saved at /Users/marcinzurek/Desktop/Studia/Research/SyntheticPopulation/notebooks/file.geojson

[ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [9777, 10698]
[ Info: Converged in 1 iterations.
[ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [9520, 11195]
[ Info: Converged in 1 iterations.
[ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [21893, 21890]
[ Info: Converged in 1 iterations.

aggregated_joint_distribution = 568×5 DataFrame
 Row │ maritalstatus  sex    age     income   population
     │ String?         Char?  Int64?  Int64?   Int64
─────┼────────────────────────────────────────────────────
   1 │ missing         F           2  missing         495
   2 │ missing         M           2  missing         530
   3 │ missing         F           7  missing         450
   4 │ missing         M           7  missing         490
   5 │ missing         F          12  missing         305
   6 │ missing         M          12  missing         330
   7 │ missing         F          17  missing         285
   8 │ missing         M          17  missing         345
   9 │ Divorced        F          22    25394           3
  10 │ Married         F          22    25394          91
  11 │ Not_married     F          22    25394          25
  12 │ Widowed         F          22    25394           7
  13 │ Divorced        M          22    25394           3
  14 │ Married         M          22    25394         107
  15 │ Not_married     M          22    25394          31
  16 │ Widowed         M          22    25394           2
  17 │ Divorced        F          27    25394           5
  18 │ Married         F          27    25394         131
  19 │ Not_married     F          27    25394          37
  20 │ Widowed         F          27    25394          10
  21 │ Divorced        M          27    25394           4
  22 │ Married         M          27    25394         150
  23 │ Not_married     M          27    25394          43
  24 │ Widowed         M          27    25394           3
  25 │ Divorced        F          32    25394           6
  26 │ Married         F          32    25394         172
  27 │ Not_married     F          32    25394          48
  28 │ Widowed         F          32    25394          13
  29 │ Divorced        M          32    25394           5
  30 │ Married         M          32    25394         196
  31 │ Not_married     M          32    25394          56
  32 │ Widowed         M          32    25394           4
  33 │ Divorced        F          37    25394           5
  34 │ Married         F          37    25394         149
  35 │ Not_married     F          37    25394          42
  36 │ Widowed         F          37    25394          11
  37 │ Divorced        M          37    25394           4
  38 │ Married         M          37    25394         166
  39 │ Not_married     M          37    25394          48
  40 │ Widowed         M          37    25394           4
  41 │ Divorced        F          42    25394           4
  42 │ Married         F          42    25394         110
  43 │ Not_married     F          42    25394          31
  44 │ Widowed         F          42    25394           8
  45 │ Divorced        M          42    25394           3
  46 │ Married         M          42    25394         126
  47 │ Not_married     M          42    25394          36
  48 │ Widowed         M          42    25394           3
  49 │ Divorced        F          47    25394           4
  50 │ Married         F          47    25394         112
  51 │ Not_married     F          47    25394          31
  52 │ Widowed         F          47    25394           8
  53 │ Divorced        M          47    25394           3
  54 │ Married         M          47    25394         126
  55 │ Not_married     M          47    25394          36
  56 │ Widowed         M          47    25394           3
  57 │ Divorced        F          52    25394           4
  58 │ Married         F          52    25394         112
  59 │ Not_married     F          52    25394          31
  60 │ Widowed         F          52    25394           8
  61 │ Divorced        M          52    25394           3
  62 │ Married         M          52    25394         126
  63 │ Not_married     M          52    25394          36
  64 │ Widowed         M          52    25394           3
  65 │ Divorced        F          57    25394           4
  66 │ Married         F          57    25394         115
  67 │ Not_married     F          57    25394          32
  68 │ Widowed         F          57    25394           8
  69 │ Divorced        M          57    25394           3
  70 │ Married         M          57    25394         124
  71 │ Not_married     M          57    25394          36
  72 │ Widowed         M          57    25394           3
  73 │ Divorced        F          62    25394           4
  74 │ Married         F          62    25394         102
  75 │ Not_married     F          62    25394          29
  76 │ Widowed         F          62    25394           8
  77 │ Divorced        M          62    25394           2
  78 │ Married         M          62    25394         102
  79 │ Not_married     M          62    25394          29
  80 │ Widowed         M          62    25394           2
  81 │ Divorced        F          67    25394           3
  82 │ Married         F          67    25394          90
  83 │ Not_married     F          67    25394          25
  84 │ Widowed         F          67    25394           7
  85 │ Divorced        M          67    25394           2
  86 │ Married         M          67    25394          85
  87 │ Not_married     M          67    25394          24
  88 │ Widowed         M          67    25394           2
  89 │ Divorced        F          72    25394           2
  90 │ Married         F          72    25394          51
  91 │ Not_married     F          72    25394          14
  92 │ Widowed         F          72    25394           4
  93 │ Divorced        M          72    25394           1
  94 │ Married         M          72    25394          47
  95 │ Not_married     M          72    25394          14
  96 │ Widowed         M          72    25394           1
  97 │ Divorced        F          77    25394           1
  98 │ Married         F          77    25394          33
  99 │ Not_married     F          77    25394           9
 100 │ Widowed         F          77    25394           2
 101 │ Divorced        M          77    25394           1
 102 │ Married         M          77    25394          28
 103 │ Not_married     M          77    25394           8
 104 │ Widowed         M          77    25394           1
 105 │ Divorced        F          82    25394           1
 106 │ Married         F          82    25394          28
 107 │ Not_married     F          82    25394           8
 108 │ Widowed         F          82    25394           2
 109 │ Divorced        M          82    25394           1
 110 │ Married         M          82    25394          23
 111 │ Not_married     M          82    25394           7
 112 │ Widowed         M          82    25394           0
 113 │ Divorced        F          87    25394           1
 114 │ Married         F          87    25394          23
 115 │ Not_married     F          87    25394           6
 116 │ Widowed         F          87    25394           2
 117 │ Divorced        M          87    25394           0
 118 │ Married         M          87    25394          19
 119 │ Not_married     M          87    25394           5
 120 │ Widowed         M          87    25394           0
 121 │ Divorced        F          22    44855           3
 122 │ Married         F          22    44855          91
 123 │ Not_married     F          22    44855          25
 124 │ Widowed         F          22    44855           7
 125 │ Divorced        M          22    44855           3
 126 │ Married         M          22    44855         107
 127 │ Not_married     M          22    44855          31
 128 │ Widowed         M          22    44855           2
 129 │ Divorced        F          27    44855           5
 130 │ Married         F          27    44855         131
 131 │ Not_married     F          27    44855          37
 132 │ Widowed         F          27    44855          10
 133 │ Divorced        M          27    44855           4
 134 │ Married         M          27    44855         150
 135 │ Not_married     M          27    44855          43
 136 │ Widowed         M          27    44855           3
 137 │ Divorced        F          32    44855           6
 138 │ Married         F          32    44855         172
 139 │ Not_married     F          32    44855          48
 140 │ Widowed         F          32    44855          13
 141 │ Divorced        M          32    44855           5
 142 │ Married         M          32    44855         196
 143 │ Not_married     M          32    44855          56
 144 │ Widowed         M          32    44855           4
 145 │ Divorced        F          37    44855           5
 146 │ Married         F          37    44855         149
 147 │ Not_married     F          37    44855          42
 148 │ Widowed         F          37    44855          11
 149 │ Divorced        M          37    44855           4
 150 │ Married         M          37    44855         166
 151 │ Not_married     M          37    44855          48
 152 │ Widowed         M          37    44855           4
 153 │ Divorced        F          42    44855           4
 154 │ Married         F          42    44855         110
 155 │ Not_married     F          42    44855          31
 156 │ Widowed         F          42    44855           8
 157 │ Divorced        M          42    44855           3
 158 │ Married         M          42    44855         126
 159 │ Not_married     M          42    44855          36
 160 │ Widowed         M          42    44855           3
 161 │ Divorced        F          47    44855           4
 162 │ Married         F          47    44855         112
 163 │ Not_married     F          47    44855          31
 164 │ Widowed         F          47    44855           8
 165 │ Divorced        M          47    44855           3
 166 │ Married         M          47    44855         126
 167 │ Not_married     M          47    44855          36
 168 │ Widowed         M          47    44855           3
 169 │ Divorced        F          52    44855           4
 170 │ Married         F          52    44855         112
 171 │ Not_married     F          52    44855          31
 172 │ Widowed         F          52    44855           8
 173 │ Divorced        M          52    44855           3
 174 │ Married         M          52    44855         126
 175 │ Not_married     M          52    44855          36
 176 │ Widowed         M          52    44855           3
 177 │ Divorced        F          57    44855           4
 178 │ Married         F          57    44855         115
 179 │ Not_married     F          57    44855          32
 180 │ Widowed         F          57    44855           8
 181 │ Divorced        M          57    44855           3
 182 │ Married         M          57    44855         124
 183 │ Not_married     M          57    44855          36
 184 │ Widowed         M          57    44855           3
 185 │ Divorced        F          62    44855           4
 186 │ Married         F          62    44855         102
 187 │ Not_married     F          62    44855          29
 188 │ Widowed         F          62    44855           8
 189 │ Divorced        M          62    44855           2
 190 │ Married         M          62    44855         102
 191 │ Not_married     M          62    44855          29
 192 │ Widowed         M          62    44855           2
 193 │ Divorced        F          67    44855           3
 194 │ Married         F          67    44855          90
 195 │ Not_married     F          67    44855          25
 196 │ Widowed         F          67    44855           7
 197 │ Divorced        M          67    44855           2
 198 │ Married         M          67    44855          85
 199 │ Not_married     M          67    44855          24
 200 │ Widowed         M          67    44855           2
 201 │ Divorced        F          72    44855           2
 202 │ Married         F          72    44855          51
 203 │ Not_married     F          72    44855          14
 204 │ Widowed         F          72    44855           4
 205 │ Divorced        M          72    44855           1
 206 │ Married         M          72    44855          47
 207 │ Not_married     M          72    44855          14
 208 │ Widowed         M          72    44855           1
 209 │ Divorced        F          77    44855           1
 210 │ Married         F          77    44855          33
 211 │ Not_married     F          77    44855           9
 212 │ Widowed         F          77    44855           2
 213 │ Divorced        M          77    44855           1
 214 │ Married         M          77    44855          28
 215 │ Not_married     M          77    44855           8
 216 │ Widowed         M          77    44855           1
 217 │ Divorced        F          82    44855           1
 218 │ Married         F          82    44855          28
 219 │ Not_married     F          82    44855           8
 220 │ Widowed         F          82    44855           2
 221 │ Divorced        M          82    44855           1
 222 │ Married         M          82    44855          23
 223 │ Not_married     M          82    44855           7
 224 │ Widowed         M          82    44855           0
 225 │ Divorced        F          87    44855           1
 226 │ Married         F          87    44855          23
 227 │ Not_married     F          87    44855           6
 228 │ Widowed         F          87    44855           2
 229 │ Divorced        M          87    44855           0
 230 │ Married         M          87    44855          19
 231 │ Not_married     M          87    44855           5
 232 │ Widowed         M          87    44855           0
 233 │ Divorced        F          22    63969           3
 234 │ Married         F          22    63969          91
 235 │ Not_married     F          22    63969          25
 236 │ Widowed         F          22    63969           7
 237 │ Divorced        M          22    63969           3
 238 │ Married         M          22    63969         107
 239 │ Not_married     M          22    63969          31
 240 │ Widowed         M          22    63969           2
 241 │ Divorced        F          27    63969           5
 242 │ Married         F          27    63969         131
 243 │ Not_married     F          27    63969          37
 244 │ Widowed         F          27    63969          10
 245 │ Divorced        M          27    63969           4
 246 │ Married         M          27    63969         150
 247 │ Not_married     M          27    63969          43
 248 │ Widowed         M          27    63969           3
 249 │ Divorced        F          32    63969           6
 250 │ Married         F          32    63969         172
 251 │ Not_married     F          32    63969          48
 252 │ Widowed         F          32    63969          13
 253 │ Divorced        M          32    63969           5
 254 │ Married         M          32    63969         196
 255 │ Not_married     M          32    63969          56
 256 │ Widowed         M          32    63969           4
 257 │ Divorced        F          37    63969           5
 258 │ Married         F          37    63969         149
 259 │ Not_married     F          37    63969          42
 260 │ Widowed         F          37    63969          11
 261 │ Divorced        M          37    63969           4
 262 │ Married         M          37    63969         166
 263 │ Not_married     M          37    63969          48
 264 │ Widowed         M          37    63969           4
 265 │ Divorced        F          42    63969           4
 266 │ Married         F          42    63969         110
 267 │ Not_married     F          42    63969          31
 268 │ Widowed         F          42    63969           8
 269 │ Divorced        M          42    63969           3
 270 │ Married         M          42    63969         126
 271 │ Not_married     M          42    63969          36
 272 │ Widowed         M          42    63969           3
 273 │ Divorced        F          47    63969           4
 274 │ Married         F          47    63969         112
 275 │ Not_married     F          47    63969          31
 276 │ Widowed         F          47    63969           8
 277 │ Divorced        M          47    63969           3
 278 │ Married         M          47    63969         126
 279 │ Not_married     M          47    63969          36
 280 │ Widowed         M          47    63969           3
 281 │ Divorced        F          52    63969           4
 282 │ Married         F          52    63969         112
 283 │ Not_married     F          52    63969          31
 284 │ Widowed         F          52    63969           8
 285 │ Divorced        M          52    63969           3
 286 │ Married         M          52    63969         126
 287 │ Not_married     M          52    63969          36
 288 │ Widowed         M          52    63969           3
 289 │ Divorced        F          57    63969           4
 290 │ Married         F          57    63969         115
 291 │ Not_married     F          57    63969          32
 292 │ Widowed         F          57    63969           8
 293 │ Divorced        M          57    63969           3
 294 │ Married         M          57    63969         124
 295 │ Not_married     M          57    63969          36
 296 │ Widowed         M          57    63969           3
 297 │ Divorced        F          62    63969           4
 298 │ Married         F          62    63969         102
 299 │ Not_married     F          62    63969          29
 300 │ Widowed         F          62    63969           8
 301 │ Divorced        M          62    63969           2
 302 │ Married         M          62    63969         102
 303 │ Not_married     M          62    63969          29
 304 │ Widowed         M          62    63969           2
 305 │ Divorced        F          67    63969           3
 306 │ Married         F          67    63969          90
 307 │ Not_married     F          67    63969          25
 308 │ Widowed         F          67    63969           7
 309 │ Divorced        M          67    63969           2
 310 │ Married         M          67    63969          85
 311 │ Not_married     M          67    63969          24
 312 │ Widowed         M          67    63969           2
 313 │ Divorced        F          72    63969           2
 314 │ Married         F          72    63969          51
 315 │ Not_married     F          72    63969          14
 316 │ Widowed         F          72    63969           4
 317 │ Divorced        M          72    63969           1
 318 │ Married         M          72    63969          47
 319 │ Not_married     M          72    63969          14
 320 │ Widowed         M          72    63969           1
 321 │ Divorced        F          77    63969           1
 322 │ Married         F          77    63969          33
 323 │ Not_married     F          77    63969           9
 324 │ Widowed         F          77    63969           2
 325 │ Divorced        M          77    63969           1
 326 │ Married         M          77    63969          28
 327 │ Not_married     M          77    63969           8
 328 │ Widowed         M          77    63969           1
 329 │ Divorced        F          82    63969           1
 330 │ Married         F          82    63969          28
 331 │ Not_married     F          82    63969           8
 332 │ Widowed         F          82    63969           2
 333 │ Divorced        M          82    63969           1
 334 │ Married         M          82    63969          23
 335 │ Not_married     M          82    63969           7
 336 │ Widowed         M          82    63969           0
 337 │ Divorced        F          87    63969           1
 338 │ Married         F          87    63969          23
 339 │ Not_married     F          87    63969           6
 340 │ Widowed         F          87    63969           2
 341 │ Divorced        M          87    63969           0

 568 │ Widowed         M          87   145915           0
Total number of individuals: 21890
Total number of households: 8230
Allocation started...

Progress: 100%|█████████████████████████████████████████| Time: 0:00:05

---------------
There are no available children!
---------------
Allocated 82.0% individuals.
Allocated 95.0% households.
===================
Assigning coordinates to households...
===================

Progress: 100%|█████████████████████████████████████████| Time: 0:00:25

## Input and output data format

### Naming convention:
- `aggregated_dataframe` -  unique combinations of dataframe attributes with columns `:id`, multiple columns for each `attribute`, and column `:population`
- `disaggregated_dataframe` - disaggregated population.
- `unassigned_dataframe` - aggregated population with columns `:id`, multiple columns for each `attribute`, and column `:population`
- `marginal_attr1_attr2` - flattened contingency tables with marginal distributions

### Dataframes:

### `marginal_attr1_attr2`
___________

Description:
- flattened multi-way contingency table with marginal distributions of the variables
- example: `marginal_age_sex`

Columns:
- `:attr1` - 1st attribute of the contingency table
- `:attr2`- 2nd attribute of the contingency table
- `:attr3`, `attr4` - optional attributes
- `:population` - total population or total number of elements for a given combination of attributes

Returned by:
- manual input based on different data sources (e.g. census)

Mutated by:
- N/A

Used as argument by:
- `generate_joint_distributions`

In [7]:
marginal_ind_age_sex

36×3 DataFrame
 Row │ sex   age    population
     │ Char  Int64  Int64
─────┼─────────────────────────
   1 │ F         2         490
   2 │ M         2         526
   3 │ F         7         448
   4 │ M         7         485
   5 │ F        12         306
   6 │ M        12         336
   7 │ F        17         288
   8 │ M        17         346
   9 │ F        22         634
  10 │ M        22         716
  11 │ F        27         909
  ⋮  │  ⋮      ⋮        ⋮
  27 │ F        67         626
  28 │ M        67         569
  29 │ F        72         353
  30 │ M        72         315
  31 │ F        77         230
  32 │ M        77         185
  33 │ F        82         197
  34 │ M        82         152
  35 │ F        87         160
  36 │ M        87         125
                15 rows omitted

### `disaggregated_households`
_____

Description:
- The final DataFrame that represents the estimated population. Each row is one household with its charactieristics, such as assigned individuals and coordinates of households' location.

Columns:
- `:id` - ID of a household
- `:hh_attr_id` - `:id` from DataFrame `aggregated_households` that references a certain household type.
- `:individuals_allocated` – a Boolean flag set to `true` if the individuals were allocated to the household
- `:head_id` - `:id` from DataFrame `aggregated_individuals` that references head of household
- `:partner_id` - `:id` from DataFrame `aggregated_individuals` that references partner of selected head, ==0 if not applicable
- `:child1_id` - `:id` from DataFrame `aggregated_individuals` that references child in household, ==0 if not applicable
- `:child2_id` - `:id` from DataFrame `aggregated_individuals` that references child in household, ==0 if not applicable
- `:child3_id` - `:id` from DataFrame `aggregated_individuals` that references child in household, ==0 if not applicable
- `:lat` - latitude of the household location, ==0 if not assigned
- `:lon` - longitude of the household location, ==0 if not assigned
- `:area_id` - `:area_id` that references area from Dataframe `aggregated_areas`, ==0 if not assigned

Returned by:
- `assign_individuals_to_households`

Mutated by:
- `assign_areas_to_households!`

Used as argument by:
- `assign_areas_to_households!`

In [53]:
disaggregated_households

8230×11 DataFrame
  Row │ id     hh_attr_id  individuals_allocated  head_id  partner_id  child1_ ⋯
      │ Int64  Int64       Bool                   Int64    Int64       Int64   ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │     1           1                   true      531           0          ⋯
    2 │     2           1                   true       19           0
    3 │     3           1                   true      223           0
    4 │     4           1                   true      419           0
    5 │     5           1                   true      217           0          ⋯
    6 │     6           1                   true       71           0
    7 │     7           1                   true      131           0
    8 │     8           1                   true      504           0
    9 │     9           1                   true      243           0          ⋯
   10 │    10           1                   true      243           0
   11 │    11           1                   true      511           0
  ⋮   │   ⋮        ⋮                 ⋮               ⋮         ⋮           ⋮   ⋱
 8221 │  8221           5                  false        0           0
 8222 │  8222           5                   true      482         526          ⋯
 8223 │  8223           5                   true      374         138
 8224 │  8224           5                   true       50         262        3
 8225 │  8225           5                   true       30         522
 8226 │  8226           5                   true      166         354          ⋯
 8227 │  8227           5                   true      366         138
 8228 │  8228           5                   true      374         530
 8229 │  8229           5                   true      298          30
 8230 │  8230           5                   true      514         310        4 ⋯
                                                 6 columns and 8209 rows omitted

### `aggregated_individuals`
______

Description:
- Each row represents a unique combination of attributes of individuals

Columns:
- `:id` - ID that represents a unique combination of attributes of individuals
- different columns that represent the attributes of the individual, in our example these are:
    - `:marital_status`
    - `:age`
    - `:sex`
    - `:income`
- `:population` - number of estimated individuals with combination of attribtues described by `:id`


Returned by:
- `generate_joint_distributions`

Mutated by:
- N/A

Used as argument by:
- `assign_individuals_to_households`

In [15]:
aggregated_individuals

568×6 DataFrame
 Row │ id     maritalstatus  sex    age     income   population
     │ Int64  String?         Char?  Int64?  Int64?   Int64
─────┼───────────────────────────────────────────────────────────
   1 │     1  missing         F           2  missing         495
   2 │     2  missing         M           2  missing         530
   3 │     3  missing         F           7  missing         450
   4 │     4  missing         M           7  missing         490
   5 │     5  missing         F          12  missing         305
   6 │     6  missing         M          12  missing         330
   7 │     7  missing         F          17  missing         285
   8 │     8  missing         M          17  missing         345
  ⋮  │   ⋮          ⋮           ⋮      ⋮        ⋮         ⋮
 562 │   562  Married         F          87   145915          23
 563 │   563  Not_married     F          87   145915           6
 564 │   564  Widowed         F          87   145915           2
 565 │   565  Divorced        M          87   145915           0
 566 │   566  Married         M          87   145915          19
 567 │   567  Not_married     M          87   145915           5
 568 │   568  Widowed         M          87   145915           0
                                                 553 rows omitted

### `aggregated_areas`
______

Description:
- Each row represents a unique area and its characteristics

Columns:
- `:id` - ID of an area
- additional data representing each area. In our case:
    - `:geometry` - `MultyPolygon` or `Polygon` object that represents the territory of a given area
    - `:name` - name of the area
- `:population` - population for a given area


Returned by: 
- function `generate_areas_dataframe` given input data downloaded from https://osm-boundaries.com/ to obtain all columns except for `:population`
- `:population` column to be provided manually given available data
- Can be also generated manually depending on data source

Mutated by:
- N/A

Used as argument by:
- `assign_areas_to_households!`

In [16]:
aggregated_areas

16×4 DataFrame
 Row │ id     geometry      name                  population
     │ Int64  Geometry      String                Int64
─────┼───────────────────────────────────────────────────────
   1 │     1  Polygon       Shijingshan District         568
   2 │     2  Polygon       Haidian District            3132
   3 │     3  Polygon       Fengtai District            2019
   4 │     4  MultiPolygon  Chaoyang District           3451
   5 │     5  Polygon       Yanqing District             346
   6 │     6  Polygon       Tongzhou District           1840
   7 │     7  Polygon       Shunyi District             1324
   8 │     8  Polygon       Pinggu District              457
   9 │     9  Polygon       Miyun District               528
  10 │    10  Polygon       Mentougou District           393
  11 │    11  Polygon       Huairou District             441
  12 │    12  Polygon       Fangshan District           1313
  13 │    13  Polygon       Daxing District             1994
  14 │    14  Polygon       Changping District          2269
  15 │    15  Polygon       Xicheng District            1106
  16 │    16  Polygon       Dongcheng District           709

### `aggregated_households`
_____________

Description:
- Each row represents a unique combination of attributes of household

Columns:
- `id` - ID that represents a unique combination of attributes of individuals
- different columns that represent the attributes of the household, in our example these are:
    - `:hh_size`
- `:population` - number of households with combination of attributes described by `:id`

Returned by:
- `generate_joint_distributions`
- can be also generated manually

Mutated by:
- N/A

Used as argument by:
- `assign_individuals_to_households`

In [17]:
aggregated_households

5×3 DataFrame
 Row │ id     hh_size  population
     │ Int64  Int64    Int64
─────┼────────────────────────────
   1 │     1        1        2461
   2 │     2        2        2724
   3 │     3        3        1786
   4 │     4        4         741
   5 │     5        5         518

### Optional output dataframes

### `unassigned_individuals`
___________

Description: 
- Mutation of `aggegated_individuals`. Represents individuals that were not assigned to any of the households

Columns: 
- `:id` - `:id` that represents unique combination of attribtues of individuals
- different columns that represent the attributes of the individual, in our example these are:
    - `:marital_status`
    - `:age`
    - `:sex`
    - `:income`
- `:population` - number of individuals with combination of attributes with `:id` that were not assigned to any household

Returned by:
- `assign_individuals_to_households` if optional parameter `return_unassigned` is set to `true`

Mutated by:
- N/A

Used as argument by:
- N/A

In [18]:
unassigned1["unassigned_individuals"]

458×6 DataFrame
 Row │ id     maritalstatus  sex    age     income  population
     │ Int64  String?         Char?  Int64?  Int64?  Int64
─────┼──────────────────────────────────────────────────────────
   1 │    17  Divorced        F          27   25394           1
   2 │    18  Married         F          27   25394           9
   3 │    19  Not_married     F          27   25394          20
   4 │    20  Widowed         F          27   25394           6
   5 │    21  Divorced        M          27   25394           2
   6 │    22  Married         M          27   25394          19
   7 │    23  Not_married     M          27   25394          18
   8 │    24  Widowed         M          27   25394           2
  ⋮  │   ⋮          ⋮           ⋮      ⋮       ⋮         ⋮
 452 │   559  Not_married     M          82  145915           3
 453 │   561  Divorced        F          87  145915           1
 454 │   562  Married         F          87  145915           5
 455 │   563  Not_married     F          87  145915           1
 456 │   564  Widowed         F          87  145915           1
 457 │   566  Married         M          87  145915           5
 458 │   567  Not_married     M          87  145915           2
                                                443 rows omitted

### `unassigned_households`
___________

Description: 
- Mutation of `aggregated_households`. Represents households to whom no individuals were allocated.

Columns: 
- `:id` - `:id` from DataFrame `households` that represents unique combination of attribtues of household
- different columns that represent the attributes of the household, in our example these are:
    - `:hh_size`
- `:population` - number of households with combination of attributes represented by `:id` with no individuals assigned

Returned by:
- `assign_individuals_to_households` if optional parameter `return_unassigned` is set to `true`

Mutated by:
- N/A

Used as argument by:
- N/A

In [19]:
unassigned1["unassigned_households"] #in our case all areas were assigned so dataframe is empty

5×3 DataFrame
 Row │ id     hh_size  population
     │ Int64  Int64    Int64
─────┼────────────────────────────
   1 │     1        1         104
   2 │     2        2         116
   3 │     3        3          81
   4 │     4        4          45
   5 │     5        5          25

### `unassigned_areas`
____________

Description: 
- Mutation of `aggregated_areas`. Represents areas for whom some slots for population were not filled

Columns: 
- `:id` - area ID
- `:population` - number of households with combination of attributes represented by `:id` that were not assigned any individuals

Returned by:
- `assign_areas_to_households!` if optional parameter `return_unassigned` is set to `true`

Mutated by:
- N/A

Used as argument by:
- N/A

In [20]:
unassigned2["unassigned_areas"] #in our case 14 people (target population) were not assigned

16×4 DataFrame
 Row │ id     geometry      name                  population
     │ Int64  Geometry      String                Int64
─────┼───────────────────────────────────────────────────────
   1 │     1  Polygon       Shijingshan District          92
   2 │     2  Polygon       Haidian District             600
   3 │     3  Polygon       Fengtai District             317
   4 │     4  MultiPolygon  Chaoyang District            673
   5 │     5  Polygon       Yanqing District              64
   6 │     6  Polygon       Tongzhou District            325
   7 │     7  Polygon       Shunyi District              243
   8 │     8  Polygon       Pinggu District               77
   9 │     9  Polygon       Miyun District               105
  10 │    10  Polygon       Mentougou District            65
  11 │    11  Polygon       Huairou District              73
  12 │    12  Polygon       Fangshan District            264
  13 │    13  Polygon       Daxing District              378
  14 │    14  Polygon       Changping District           389
  15 │    15  Polygon       Xicheng District             196
  16 │    16  Polygon       Dongcheng District            95

### `disaggregated_unassigned_households`
________

Description:
- Represents households to whom coordinates were not assigned. 
- Filtered rows of `disaggregated_households` for which `:lat`, `:lon` are equal to 0 after the `assign_areas_to_households!` is performed.

Columns:
- same as in `disaggragated_households`

Returned by:
- `assign_areas_to_households!` if optional parameter `return_unassigned` is set to `true`

Mutated by:
- N/A

Used as argument by:
- N/A

In [21]:
unassigned2["disaggregated_unassigned_households"] #in our case all households were assigned so dataframe is empty

0×14 DataFrame
 Row │ id     hh_attr_id  hh_size  individuals_allocated  head_id  partner_id  ⋯
     │ Int64  Int64       Int64    Bool                   Int64    Int64       ⋯
─────┴──────────────────────────────────────────────────────────────────────────
                                                               8 columns omitted