In [43]:
include("../src/SyntheticPopulation.jl")

# Summary:
1. Sample-free IPF algorithm is well suited for creating joint distributions of the attributes that are independent (96% of cells fit well).
2. Sample-free IPF algorithm is not so efficient for creating joint distributions of the attributes that are highly dependent (10% of cells fit well).
3. To overcome the challenge, we provide a configurable config file which helps better adjust IPF algorithm. The config is described in another file.

# 1. Population with dependent variables

### 1.1. Generate target population with dependent variables
First we generate target population that we will treat as the real population which we'll try to synthesize using available algorithms. The variables maritial status and income are highly dependent on sex.

In [44]:
SIZE = 600000
SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITIAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; 
MARITIAL_WEIGHTS_M = [0.1, 0.2, 0.3, 0.4]; 
MARITIAL_WEIGHTS_F = [0.4, 0.3, 0.2, 0.1];
AGE = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]; 
AGE_WEIGHTS = repeat([1 / 16], 16)
INCOME = [40000, 50000, 60000, 70000, 80000]; 
INCOME_WEIGHTS_M = [0.01, 0.1, 0.2, 0.3, 0.39];
INCOME_WEIGHTS_F = [0.39, 0.3, 0.2, 0.1, 0.01];


using StatsBase
population_m = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS),Int(SIZE / 2)),
    MARITIAL_STATUS = sample(MARITIAL_STATUS, Weights(MARITIAL_WEIGHTS_M), Int(SIZE / 2)),
    SEX = repeat(['M'], Int(SIZE / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_M), Int(SIZE / 2)),
)
population_f = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS), Int(SIZE / 2)),
    MARITIAL_STATUS = sample(MARITIAL_STATUS, Weights(MARITIAL_WEIGHTS_F), Int(SIZE / 2)),
    SEX = repeat(['F'], Int(SIZE / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_F), Int(SIZE / 2)),
)
disaggregated_dependent_population = reduce(vcat, [population_f, population_m])

dependent_population = combine(groupby(disaggregated_dependent_population, names(disaggregated_dependent_population), sort=true), nrow)
rename!(dependent_population, :nrow => :population)
sort!(dependent_population, [:INCOME, :SEX, :MARITIAL_STATUS, :AGE])

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000        1496
   2 â”‚    10  Divorced         F      40000        1422
   3 â”‚    15  Divorced         F      40000        1442
   4 â”‚    20  Divorced         F      40000        1457
   5 â”‚    25  Divorced         F      40000        1448
   6 â”‚    30  Divorced         F      40000        1503
   7 â”‚    35  Divorced         F      40000        1481
   8 â”‚    40  Divorced         F      40000        1457
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 634 â”‚    50  Widowed          M      80000        2864
 635 â”‚    55  Widowed          M      80000        3034
 636 â”‚    60  Widowed          M      80000        2890
 637 â”‚    65  Widowed          M      80000        2961
 638 â”‚    70  Widowed          M      80000        2933
 639 â”‚    75  Widowed          M      80000        2820
 640 â”‚    80  Widowed          M      80000        2905
                                        625 rows omitted

### 1.2. Compute marginal attribute distributions of the dependent population
Then we compute the marginal population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [45]:
dependent_age_sex = combine(groupby(disaggregated_dependent_population, [:AGE, :SEX], sort=true), nrow); sort!(dependent_age_sex, [:SEX, :AGE])
dependent_sex_maritial = combine(groupby(disaggregated_dependent_population, [:MARITIAL_STATUS, :SEX], sort=true), nrow); sort!(dependent_sex_maritial, [:SEX, :MARITIAL_STATUS])
dependent_income = combine(groupby(disaggregated_dependent_population, [:INCOME], sort=true), nrow)
dependent_age_sex, dependent_sex_maritial, dependent_income = map(x -> rename!(x, :nrow => :population), [dependent_age_sex, dependent_sex_maritial, dependent_income])

3-element Vector{DataFrame}:
 32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          18782
   2 â”‚    10  F          18321
   3 â”‚    15  F          18719
   4 â”‚    20  F          18932
   5 â”‚    25  F          18443
   6 â”‚    30  F          18839
   7 â”‚    35  F          18703
   8 â”‚    40  F          18816
  â‹®  â”‚   â‹®     â‹®        â‹®
  26 â”‚    50  M          18649
  27 â”‚    55  M          18908
  28 â”‚    60  M          18876
  29 â”‚    65  M          18988
  30 â”‚    70  M          18826
  31 â”‚    75  M          18426
  32 â”‚    80  M          18535
                17 rows omitted
 8Ã—3 DataFrame
 Row â”‚ MARITIAL_STATUS  SEX   population
     â”‚ String           Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced         F          59900
   2 â”‚ Married          F          89707
   3 â”‚ Not_married      F         120561
   4 â”‚ Widowed          F          29832
   5 â”‚ Divorced         M          90614
   6 â”‚ Married          M          60158
   7 â”‚ Not_married      M          29856
   8 â”‚ Widowed          M         119372
 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000      120464
   2 â”‚  50000      119660
   3 â”‚  60000      120014
   4 â”‚  70000      119885
   5 â”‚  80000      119977

### 1.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the marginal attributes.

In [46]:
#dependent population
generated_dependent_aggregated_population = generate_joint_distributions(dependent_age_sex, dependent_sex_maritial, dependent_income)
generated_dependent_aggregated_population = generated_dependent_aggregated_population[:, Not(:id)]

â”Œ Info: Converged in 2 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Converged in 2 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [600001, 600000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000         753
   2 â”‚    10  Divorced         F      40000         734
   3 â”‚    15  Divorced         F      40000         750
   4 â”‚    20  Divorced         F      40000         759
   5 â”‚    25  Divorced         F      40000         739
   6 â”‚    30  Divorced         F      40000         755
   7 â”‚    35  Divorced         F      40000         750
   8 â”‚    40  Divorced         F      40000         754
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 634 â”‚    50  Widowed          M      80000        1484
 635 â”‚    55  Widowed          M      80000        1505
 636 â”‚    60  Widowed          M      80000        1502
 637 â”‚    65  Widowed          M      80000        1511
 638 â”‚    70  Widowed          M      80000        1498
 639 â”‚    75  Widowed          M      80000        1466
 640 â”‚    80  Widowed          M      80000        1475
                                        625 rows omitted

### 1.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by Edwards, Tanton, 2013 [1].


[1] Edwards, K. L., & Tanton, R. (2013). Validation of spatial microsimulation models. Spatial microsimulation: A reference guide for users, 249-258. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

In [47]:
sort!(generated_dependent_aggregated_population)
sort!(dependent_population)
dependent_population.:estimated_population = generated_dependent_aggregated_population.:population

p = dependent_population.:population/sum(dependent_population.:population)
t = dependent_population.:estimated_population/sum(dependent_population.:population)
N = sum(dependent_population.:population)
dependent_population.:Z_score = (p .- t) ./ sqrt.((p .* (1 .- p)) ./ N)
dependent_population

640Ã—7 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population  estimated_population  â‹¯
     â”‚ Int64  String           Char  Int64   Int64       Int64                 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000        1496                   753  â‹¯
   2 â”‚     5  Divorced         F      50000        1103                   748
   3 â”‚     5  Divorced         F      60000         744                   750
   4 â”‚     5  Divorced         F      70000         381                   749
   5 â”‚     5  Divorced         F      80000          33                   750  â‹¯
   6 â”‚     5  Divorced         M      40000          61                  1139
   7 â”‚     5  Divorced         M      50000         587                  1132
   8 â”‚     5  Divorced         M      60000        1119                  1135
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®                â‹®            â‹±
 634 â”‚    80  Widowed          F      70000         178                   370  â‹¯
 635 â”‚    80  Widowed          F      80000          19                   370
 636 â”‚    80  Widowed          M      40000          72                  1481
 637 â”‚    80  Widowed          M      50000         779                  1471
 638 â”‚    80  Widowed          M      60000        1502                  1475  â‹¯
 639 â”‚    80  Widowed          M      70000        2187                  1474
 640 â”‚    80  Widowed          M      80000        2905                  1475
                                                   1 column and 625 rows omitted

In [48]:
#percentage of well-fitting values
wfv = count(i -> (-1.96<i<1.96), dependent_population.Z_score) / nrow(dependent_population)
print("Percentage of well fitting values: ", wfv, "\n")

#does the table have a good fit?
cv = sum(dependent_population.Z_score .^ 2) #much more than critical value for chi2 with 640 degrees of freedem -> bad fit
print("Table does not have good fit. Critical value is 640 and our calculated statistic has value: ", cv)

Percentage of well fitting values: 0.1953125
Table does not have good fit. Critical value is 640 and our calculated statistic has value: 2.388516533436027e6

# 2. Population with independent variables

### 2.1. Generate target population with independent variables
First we generate target population that we will treat as the real population which we'll try to synthesize using available algorithms. All variables are independent.

In [49]:
SIZE = 600000
SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITIAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; MARITIAL_WEIGHTS = [0.3, 0.5, 0.1, 0.1]
AGE = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]; AGE_WEIGHTS = repeat([1 / 16], 16)
INCOME = [40000, 50000, 60000, 70000, 80000]; INCOME_WEIGHTS = [0.2, 0.2, 0.2, 0.2, 0.2]

using StatsBase
disaggregated_independent_population = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS), SIZE),
    MARITIAL_STATUS = sample(MARITIAL_STATUS, Weights(MARITIAL_WEIGHTS), SIZE),
    SEX = sample(SEX, Weights(SEX_WEIGHTS), SIZE),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS), SIZE),
)

independent_population = combine(groupby(disaggregated_independent_population, names(disaggregated_independent_population), sort=true), nrow)
rename!(independent_population, :nrow => :population)
sort!(dependent_population, [:INCOME, :SEX, :MARITIAL_STATUS, :AGE])

640Ã—7 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population  estimated_population  â‹¯
     â”‚ Int64  String           Char  Int64   Int64       Int64                 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000        1496                   753  â‹¯
   2 â”‚    10  Divorced         F      40000        1422                   734
   3 â”‚    15  Divorced         F      40000        1442                   750
   4 â”‚    20  Divorced         F      40000        1457                   759
   5 â”‚    25  Divorced         F      40000        1448                   739  â‹¯
   6 â”‚    30  Divorced         F      40000        1503                   755
   7 â”‚    35  Divorced         F      40000        1481                   750
   8 â”‚    40  Divorced         F      40000        1457                   754
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®                â‹®            â‹±
 634 â”‚    50  Widowed          M      80000        2864                  1484  â‹¯
 635 â”‚    55  Widowed          M      80000        3034                  1505
 636 â”‚    60  Widowed          M      80000        2890                  1502
 637 â”‚    65  Widowed          M      80000        2961                  1511
 638 â”‚    70  Widowed          M      80000        2933                  1498  â‹¯
 639 â”‚    75  Widowed          M      80000        2820                  1466
 640 â”‚    80  Widowed          M      80000        2905                  1475
                                                   1 column and 625 rows omitted

### 2.2. Compute marginal attribute distributions of the independent population
Then we compute the marginal population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [50]:
independent_age_sex = combine(groupby(disaggregated_independent_population, [:AGE, :SEX], sort=true), nrow); sort!(independent_age_sex, [:SEX, :AGE])
independent_sex_maritial = combine(groupby(disaggregated_independent_population, [:MARITIAL_STATUS, :SEX], sort=true), nrow); sort!(independent_sex_maritial, [:SEX, :MARITIAL_STATUS])
independent_income = combine(groupby(disaggregated_independent_population, [:INCOME], sort=true), nrow);
independent_age_sex, independent_sex_maritial, independent_income = map(x -> rename!(x, :nrow => :population), [independent_age_sex, independent_sex_maritial, independent_income])

3-element Vector{DataFrame}:
 32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          18623
   2 â”‚    10  F          19012
   3 â”‚    15  F          18684
   4 â”‚    20  F          18835
   5 â”‚    25  F          18680
   6 â”‚    30  F          18711
   7 â”‚    35  F          18655
   8 â”‚    40  F          18752
  â‹®  â”‚   â‹®     â‹®        â‹®
  26 â”‚    50  M          19167
  27 â”‚    55  M          18707
  28 â”‚    60  M          18716
  29 â”‚    65  M          18645
  30 â”‚    70  M          18690
  31 â”‚    75  M          18805
  32 â”‚    80  M          18746
                17 rows omitted
 8Ã—3 DataFrame
 Row â”‚ MARITIAL_STATUS  SEX   population
     â”‚ String           Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced         F          29919
   2 â”‚ Married          F         149462
   3 â”‚ Not_married      F          90583
   4 â”‚ Widowed          F          29959
   5 â”‚ Divorced         M          29751
   6 â”‚ Married          M         149860
   7 â”‚ Not_married      M          90171
   8 â”‚ Widowed          M          30295
 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000      119788
   2 â”‚  50000      119924
   3 â”‚  60000      120415
   4 â”‚  70000      119843
   5 â”‚  80000      120030

### 2.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the marginal attributes.

In [51]:
#dependent population
generated_aggregated_indep_population = generate_joint_distributions(independent_age_sex, independent_sex_maritial, independent_income)
generated_aggregated_indep_population = generated_aggregated_indep_population[:, Not(:id)]

â”Œ Info: Converged in 2 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Converged in 2 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130
â”Œ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [599999, 600000]
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:61
â”Œ Info: Converged in 1 iterations.
â”” @ ProportionalFitting /Users/marcinzurek/.julia/packages/ProportionalFitting/gNJEu/src/ipf.jl:130

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000         371
   2 â”‚    10  Divorced         F      40000         379
   3 â”‚    15  Divorced         F      40000         372
   4 â”‚    20  Divorced         F      40000         375
   5 â”‚    25  Divorced         F      40000         372
   6 â”‚    30  Divorced         F      40000         373
   7 â”‚    35  Divorced         F      40000         372
   8 â”‚    40  Divorced         F      40000         374
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 634 â”‚    50  Widowed          M      80000         387
 635 â”‚    55  Widowed          M      80000         378
 636 â”‚    60  Widowed          M      80000         378
 637 â”‚    65  Widowed          M      80000         376
 638 â”‚    70  Widowed          M      80000         377
 639 â”‚    75  Widowed          M      80000         380
 640 â”‚    80  Widowed          M      80000         379
                                        625 rows omitted

### 2.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by Edwards, Tanton, 2013 [1].


[1] Edwards, K. L., & Tanton, R. (2013). Validation of spatial microsimulation models. Spatial microsimulation: A reference guide for users, 249-258. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

In [52]:
sort!(generated_aggregated_indep_population)
sort!(independent_population)
independent_population.:estimated_population = generated_aggregated_indep_population.:population

p = independent_population.:population/sum(independent_population.:population)
t = independent_population.:estimated_population/sum(independent_population.:population)
N = sum(independent_population.:population)
independent_population.:Z_score = (p .- t) ./ sqrt.((p .* (1 .- p)) ./ N)

independent_population

640Ã—7 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population  estimated_population  â‹¯
     â”‚ Int64  String           Char  Int64   Int64       Int64                 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000         351                   371  â‹¯
   2 â”‚     5  Divorced         F      50000         377                   371
   3 â”‚     5  Divorced         F      60000         369                   373
   4 â”‚     5  Divorced         F      70000         305                   371
   5 â”‚     5  Divorced         F      80000         386                   372  â‹¯
   6 â”‚     5  Divorced         M      40000         379                   368
   7 â”‚     5  Divorced         M      50000         352                   369
   8 â”‚     5  Divorced         M      60000         374                   370
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®                â‹®            â‹±
 634 â”‚    80  Widowed          F      70000         369                   373  â‹¯
 635 â”‚    80  Widowed          F      80000         360                   373
 636 â”‚    80  Widowed          M      40000         349                   378
 637 â”‚    80  Widowed          M      50000         395                   378
 638 â”‚    80  Widowed          M      60000         356                   380  â‹¯
 639 â”‚    80  Widowed          M      70000         381                   378
 640 â”‚    80  Widowed          M      80000         375                   379
                                                   1 column and 625 rows omitted

In [53]:
#percentage of well-fitting values
wfv = count(i -> (-1.96<i<1.96), independent_population.Z_score) / nrow(independent_population)
print("Percentage of well fitting values: ", wfv, "\n")

#does the table have a good fit?
cv = sum(independent_population.Z_score .^ 2) #much more than critical value for chi2 with 640 degrees of freedem -> bad fit
print("Table does have good fit. Critical value is 640 and our calculated statistic has value: ", cv)

Percentage of well fitting values: 0.940625
Table does have good fit. Critical value is 640 and our calculated statistic has value:

697.2591193860881