In [19]:
include("../src/SyntheticPopulation.jl")

# Summary:
1. Sample-free IPF algorithm is well suited for creating joint distributions of the attributes that are independent (96% of cells fit well).
2. Sample-free IPF algorithm is not so efficient for creating joint distributions of the attributes that are highly dependent (10% of cells fit well).
3. To overcome the challenge, we provide a configurable config file which helps better adjust IPF algorithm. The config is described in another file.

# 1. Population with dependent variables

### 1.1. Generate target population with dependent variables
First we generate target population that we will treat as the real population which we'll try to synthesize using available algorithms. The variables maritial status and income are highly dependent on sex.

In [40]:
SIZE = 600000
SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITIAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; 
MARITIAL_WEIGHTS_M = [0.1, 0.2, 0.3, 0.4]; 
MARITIAL_WEIGHTS_F = [0.4, 0.3, 0.2, 0.1];
AGE = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]; 
AGE_WEIGHTS = repeat([1 / 16], 16)
INCOME = [40000, 50000, 60000, 70000, 80000]; 
INCOME_WEIGHTS_M = [0.01, 0.1, 0.2, 0.3, 0.39];
INCOME_WEIGHTS_F = [0.39, 0.3, 0.2, 0.1, 0.01];


using StatsBase
population_m = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS),Int(SIZE / 2)),
    MARITIAL_STATUS = sample(MARITIAL_STATUS, Weights(MARITIAL_WEIGHTS_M), Int(SIZE / 2)),
    SEX = repeat(['M'], Int(SIZE / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_M), Int(SIZE / 2)),
)
population_f = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS), Int(SIZE / 2)),
    MARITIAL_STATUS = sample(MARITIAL_STATUS, Weights(MARITIAL_WEIGHTS_F), Int(SIZE / 2)),
    SEX = repeat(['F'], Int(SIZE / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_F), Int(SIZE / 2)),
)
disaggregated_dependent_population = reduce(vcat, [population_f, population_m])

dependent_population = combine(groupby(disaggregated_dependent_population, names(disaggregated_dependent_population), sort=true), nrow)
rename!(dependent_population, :nrow => :population)
sort!(dependent_population, [:INCOME, :SEX, :MARITIAL_STATUS, :AGE])

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000        1453
   2 â”‚    10  Divorced         F      40000        1466
   3 â”‚    15  Divorced         F      40000        1475
   4 â”‚    20  Divorced         F      40000        1414
   5 â”‚    25  Divorced         F      40000        1470
   6 â”‚    30  Divorced         F      40000        1478
   7 â”‚    35  Divorced         F      40000        1408
   8 â”‚    40  Divorced         F      40000        1480
   9 â”‚    45  Divorced         F      40000        1467
  10 â”‚    50  Divorced         F      40000        1408
  11 â”‚    55  Divorced         F      40000        1484
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed          M      80000        2921
 632 â”‚    40  Widowed          M      80000        2953
 633 â”‚    45  Widowed          M      80000        2952
 634 â”‚    50  Widowed          M      80000        2869
 635 â”‚    55  Widowed          M      80000        2911
 636 â”‚    60  Widowed          M      80000        2912
 637 â”‚    65  Widowed          M      80000        2812
 638 â”‚    70  Widowed          M      80000        2946
 639 â”‚    75  Widowed          M      80000        2962
 640 â”‚    80  Widowed          M      80000        2854
                                        619 rows omitted

### 1.2. Compute marginal attribute distributions of the dependent population
Then we compute the marginal population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [25]:
dependent_age_sex = combine(groupby(disaggregated_dependent_population, [:AGE, :SEX], sort=true), nrow); sort!(dependent_age_sex, [:SEX, :AGE])
dependent_sex_maritial = combine(groupby(disaggregated_dependent_population, [:MARITIAL_STATUS, :SEX], sort=true), nrow); sort!(dependent_sex_maritial, [:SEX, :MARITIAL_STATUS])
dependent_income = combine(groupby(disaggregated_dependent_population, [:INCOME], sort=true), nrow)
dependent_age_sex, dependent_sex_maritial, dependent_income = map(x -> rename!(x, :nrow => :population), [dependent_age_sex, dependent_sex_maritial, dependent_income])

3-element Vector{DataFrame}:
 32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          18760
   2 â”‚    10  F          18783
   3 â”‚    15  F          18815
   4 â”‚    20  F          18805
   5 â”‚    25  F          18765
   6 â”‚    30  F          18841
   7 â”‚    35  F          18619
   8 â”‚    40  F          18794
   9 â”‚    45  F          18779
  10 â”‚    50  F          18771
  11 â”‚    55  F          18730
  â‹®  â”‚   â‹®     â‹®        â‹®
  23 â”‚    35  M          18590
  24 â”‚    40  M          18823
  25 â”‚    45  M          18927
  26 â”‚    50  M          18905
  27 â”‚    55  M          18773
  28 â”‚    60  M          19025
  29 â”‚    65  M          18566
  30 â”‚    70  M          18476
  31 â”‚    75  M          18736
  32 â”‚    80  M          18718
                11 rows omitted
 8Ã—3 DataFrame
 Row â”‚ MARITIAL_STATUS  SEX   population
     â”‚ String           Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced         F          59780
   2 â”‚ Married          F          89747
   3 â”‚ Not_married      F         120294
   4 â”‚ Widowed          F          30179
   5 â”‚ Divorced         M          89721
   6 â”‚ Married          M          60469
   7 â”‚ Not_married      M          29971
   8 â”‚ Widowed          M         119839
 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000      119887
   2 â”‚  50000      120082
   3 â”‚  60000      120227
   4 â”‚  70000      119921
   5 â”‚  80000      119883

### 1.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the marginal attributes.

In [52]:
#dependent population
generated_dependent_population, aggregated_population = generate_joint_distributions(dependent_age_sex, dependent_sex_maritial, dependent_income)
generated_dependent_population.:population = aggregated_population.:population
generated_dependent_population[:, Not(:id)]

[ Info: Converged in 2 iterations.
[ Info: Converged in 2 iterations.
[ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [599996, 600000]
[ Info: Converged in 1 iterations.

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000         747
   2 â”‚    10  Divorced         F      40000         748
   3 â”‚    15  Divorced         F      40000         749
   4 â”‚    20  Divorced         F      40000         749
   5 â”‚    25  Divorced         F      40000         747
   6 â”‚    30  Divorced         F      40000         750
   7 â”‚    35  Divorced         F      40000         741
   8 â”‚    40  Divorced         F      40000         748
   9 â”‚    45  Divorced         F      40000         748
  10 â”‚    50  Divorced         F      40000         747
  11 â”‚    55  Divorced         F      40000         746
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed          M      80000        1484
 632 â”‚    40  Widowed          M      80000        1502
 633 â”‚    45  Widowed          M      80000        1511
 634 â”‚    50  Widowed          M      80000        1509
 635 â”‚    55  Widowed          M      80000        1498
 636 â”‚    60  Widowed          M      80000        1519
 637 â”‚    65  Widowed          M      80000        1482
 638 â”‚    70  Widowed          M      80000        1475
 639 â”‚    75  Widowed          M      80000        1495
 640 â”‚    80  Widowed          M      80000        1494
                                        619 rows omitted

### 1.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by Edwards, Tanton, 2013 [1].


[1] Edwards, K. L., & Tanton, R. (2013). Validation of spatial microsimulation models. Spatial microsimulation: A reference guide for users, 249-258. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

In [53]:
sort!(generated_dependent_population)
sort!(dependent_population)
dependent_population.:estimated_population = generated_dependent_population.:population

p = dependent_population.:population/sum(dependent_population.:population)
t = dependent_population.:estimated_population/sum(dependent_population.:population)
N = sum(dependent_population.:population)
dependent_population.:Z_score = (p .- t) ./ sqrt.((p .* (1 .- p)) ./ N)
dependent_population

640Ã—7 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population  estimated_population  â‹¯
     â”‚ Int64  String           Char  Int64   Int64       Int64                 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000        1453                   747  â‹¯
   2 â”‚     5  Divorced         F      50000        1124                   748
   3 â”‚     5  Divorced         F      60000         743                   749
   4 â”‚     5  Divorced         F      70000         400                   749
   5 â”‚     5  Divorced         F      80000          50                   747  â‹¯
   6 â”‚     5  Divorced         M      40000          70                   750
   7 â”‚     5  Divorced         M      50000         597                   741
   8 â”‚     5  Divorced         M      60000        1129                   748
   9 â”‚     5  Divorced         M      70000        1646                   748  â‹¯
  10 â”‚     5  Divorced         M      80000        2210                   747
  11 â”‚     5  Married          F      40000        2170                   746
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®                â‹®            â‹±
 631 â”‚    80  Widowed          F      40000         699                  1484
 632 â”‚    80  Widowed          F      50000         535                  1502  â‹¯
 633 â”‚    80  Widowed          F      60000         380                  1511
 634 â”‚    80  Widowed          F      70000         196                  1509
 635 â”‚    80  Widowed          F      80000          26                  1498
 636 â”‚    80  Widowed          M      40000          62                  1519  â‹¯
 637 â”‚    80  Widowed          M      50000         760                  1482
 638 â”‚    80  Widowed          M      60000        1539                  1475
 639 â”‚    80  Widowed          M      70000        2270                  1495
 640 â”‚    80  Widowed          M      80000        2854                  1494  â‹¯
                                                   1 column and 619 rows omitted

In [62]:
#percentage of well-fitting values
wfv = count(i -> (-1.96<i<1.96), dependent_population.Z_score) / nrow(dependent_population)
print("Percentage of well fitting values: ", wfv, "\n")

#does the table have a good fit?
cv = sum(dependent_population.Z_score .^ 2) #much more than critical value for chi2 with 640 degrees of freedem -> bad fit
print("Table does not have good fit. Critical value is 640 and our calculated statistic has value: ", cv)

Percentage of well fitting values: 0.0984375
Table does not have good fit. Critical value is 640 and our calculated statistic has value: 3.9665000768291065e6

# 2. Population with independent variables

### 2.1. Generate target population with independent variables
First we generate target population that we will treat as the real population which we'll try to synthesize using available algorithms. All variables are independent.

In [45]:
SIZE = 600000
SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITIAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; MARITIAL_WEIGHTS = [0.3, 0.5, 0.1, 0.1]
AGE = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]; AGE_WEIGHTS = repeat([1 / 16], 16)
INCOME = [40000, 50000, 60000, 70000, 80000]; INCOME_WEIGHTS = [0.2, 0.2, 0.2, 0.2, 0.2]

using StatsBase
disaggregated_independent_population = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS), SIZE),
    MARITIAL_STATUS = sample(MARITIAL_STATUS, Weights(MARITIAL_WEIGHTS), SIZE),
    SEX = sample(SEX, Weights(SEX_WEIGHTS), SIZE),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS), SIZE),
)

independent_population = combine(groupby(disaggregated_independent_population, names(disaggregated_independent_population), sort=true), nrow)
rename!(independent_population, :nrow => :population)
sort!(dependent_population, [:INCOME, :SEX, :MARITIAL_STATUS, :AGE])

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000        1453
   2 â”‚    10  Divorced         F      40000        1466
   3 â”‚    15  Divorced         F      40000        1475
   4 â”‚    20  Divorced         F      40000        1414
   5 â”‚    25  Divorced         F      40000        1470
   6 â”‚    30  Divorced         F      40000        1478
   7 â”‚    35  Divorced         F      40000        1408
   8 â”‚    40  Divorced         F      40000        1480
   9 â”‚    45  Divorced         F      40000        1467
  10 â”‚    50  Divorced         F      40000        1408
  11 â”‚    55  Divorced         F      40000        1484
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed          M      80000        2921
 632 â”‚    40  Widowed          M      80000        2953
 633 â”‚    45  Widowed          M      80000        2952
 634 â”‚    50  Widowed          M      80000        2869
 635 â”‚    55  Widowed          M      80000        2911
 636 â”‚    60  Widowed          M      80000        2912
 637 â”‚    65  Widowed          M      80000        2812
 638 â”‚    70  Widowed          M      80000        2946
 639 â”‚    75  Widowed          M      80000        2962
 640 â”‚    80  Widowed          M      80000        2854
                                        619 rows omitted

### 2.2. Compute marginal attribute distributions of the independent population
Then we compute the marginal population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [46]:
independent_age_sex = combine(groupby(disaggregated_independent_population, [:AGE, :SEX], sort=true), nrow); sort!(independent_age_sex, [:SEX, :AGE])
independent_sex_maritial = combine(groupby(disaggregated_independent_population, [:MARITIAL_STATUS, :SEX], sort=true), nrow); sort!(independent_sex_maritial, [:SEX, :MARITIAL_STATUS])
independent_income = combine(groupby(disaggregated_independent_population, [:INCOME], sort=true), nrow);
independent_age_sex, independent_sex_maritial, independent_income = map(x -> rename!(x, :nrow => :population), [independent_age_sex, independent_sex_maritial, independent_income])

3-element Vector{DataFrame}:
 32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          18722
   2 â”‚    10  F          18709
   3 â”‚    15  F          18600
   4 â”‚    20  F          18792
   5 â”‚    25  F          19081
   6 â”‚    30  F          18902
   7 â”‚    35  F          18599
   8 â”‚    40  F          18766
   9 â”‚    45  F          18876
  10 â”‚    50  F          18992
  11 â”‚    55  F          18753
  â‹®  â”‚   â‹®     â‹®        â‹®
  23 â”‚    35  M          18780
  24 â”‚    40  M          18806
  25 â”‚    45  M          18636
  26 â”‚    50  M          18534
  27 â”‚    55  M          18684
  28 â”‚    60  M          18566
  29 â”‚    65  M          18664
  30 â”‚    70  M          19076
  31 â”‚    75  M          18623
  32 â”‚    80  M          18962
                11 rows omitted
 8Ã—3 DataFrame
 Row â”‚ MARITIAL_STATUS  SEX   population
     â”‚ String           Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced         F          30246
   2 â”‚ Married          F         150184
   3 â”‚ Not_married      F          90018
   4 â”‚ Widowed          F          30001
   5 â”‚ Divorced         M          29990
   6 â”‚ Married          M         149014
   7 â”‚ Not_married      M          90469
   8 â”‚ Widowed          M          30078
 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000      120085
   2 â”‚  50000      120108
   3 â”‚  60000      120261
   4 â”‚  70000      119652
   5 â”‚  80000      119894

### 2.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the marginal attributes.

In [55]:
#dependent population
generated_independent_population, aggegated_indep_population = generate_joint_distributions(independent_age_sex, independent_sex_maritial, independent_income)
generated_independent_population.:population = aggegated_indep_population.:population
generated_independent_population = generated_independent_population[:, Not(:id)]

[ Info: Converged in 2 iterations.
[ Info: Converged in 2 iterations.
[ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [599991, 600000]
[ Info: Converged in 1 iterations.

640Ã—5 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String           Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000         377
   2 â”‚    10  Divorced         F      40000         377
   3 â”‚    15  Divorced         F      40000         375
   4 â”‚    20  Divorced         F      40000         379
   5 â”‚    25  Divorced         F      40000         384
   6 â”‚    30  Divorced         F      40000         381
   7 â”‚    35  Divorced         F      40000         375
   8 â”‚    40  Divorced         F      40000         378
   9 â”‚    45  Divorced         F      40000         380
  10 â”‚    50  Divorced         F      40000         383
  11 â”‚    55  Divorced         F      40000         378
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed          M      80000         377
 632 â”‚    40  Widowed          M      80000         377
 633 â”‚    45  Widowed          M      80000         374
 634 â”‚    50  Widowed          M      80000         372
 635 â”‚    55  Widowed          M      80000         375
 636 â”‚    60  Widowed          M      80000         372
 637 â”‚    65  Widowed          M      80000         374
 638 â”‚    70  Widowed          M      80000         383
 639 â”‚    75  Widowed          M      80000         374
 640 â”‚    80  Widowed          M      80000         380
                                        619 rows omitted

### 2.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by Edwards, Tanton, 2013 [1].


[1] Edwards, K. L., & Tanton, R. (2013). Validation of spatial microsimulation models. Spatial microsimulation: A reference guide for users, 249-258. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

In [56]:
sort!(generated_independent_population)
sort!(independent_population)
independent_population.:estimated_population = generated_independent_population.:population

p = independent_population.:population/sum(independent_population.:population)
t = independent_population.:estimated_population/sum(independent_population.:population)
N = sum(independent_population.:population)
independent_population.:Z_score = (p .- t) ./ sqrt.((p .* (1 .- p)) ./ N)

independent_population

640Ã—7 DataFrame
 Row â”‚ AGE    MARITIAL_STATUS  SEX   INCOME  population  estimated_population  â‹¯
     â”‚ Int64  String           Char  Int64   Int64       Int64                 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced         F      40000         363                   377  â‹¯
   2 â”‚     5  Divorced         F      50000         334                   377
   3 â”‚     5  Divorced         F      60000         411                   378
   4 â”‚     5  Divorced         F      70000         393                   376
   5 â”‚     5  Divorced         F      80000         394                   377  â‹¯
   6 â”‚     5  Divorced         M      40000         421                   379
   7 â”‚     5  Divorced         M      50000         386                   379
   8 â”‚     5  Divorced         M      60000         371                   380
   9 â”‚     5  Divorced         M      70000         375                   378  â‹¯
  10 â”‚     5  Divorced         M      80000         361                   378
  11 â”‚     5  Married          F      40000        1748                  1873
  â‹®  â”‚   â‹®           â‹®          â‹®      â‹®         â‹®                â‹®            â‹±
 631 â”‚    80  Widowed          F      40000         361                   369
 632 â”‚    80  Widowed          F      50000         384                   369  â‹¯
 633 â”‚    80  Widowed          F      60000         391                   370
 634 â”‚    80  Widowed          F      70000         368                   368
 635 â”‚    80  Widowed          F      80000         372                   368
 636 â”‚    80  Widowed          M      40000         360                   381  â‹¯
 637 â”‚    80  Widowed          M      50000         400                   381
 638 â”‚    80  Widowed          M      60000         392                   382
 639 â”‚    80  Widowed          M      70000         385                   380
 640 â”‚    80  Widowed          M      80000         367                   380  â‹¯
                                                   1 column and 619 rows omitted

In [61]:
#percentage of well-fitting values
wfv = count(i -> (-1.96<i<1.96), independent_population.Z_score) / nrow(independent_population)
print("Percentage of well fitting values: ", wfv, "\n")

#does the table have a good fit?
cv = sum(independent_population.Z_score .^ 2) #much more than critical value for chi2 with 640 degrees of freedem -> bad fit
print("Table does have good fit. Critical value is 640 and our calculated statistic has value: ", cv)

Percentage of well fitting values: 0.95625
Table does have good fit. Critical value is 640 and our calculated statistic has value: 587.3337345012303