In [1]:
include("../src/SyntheticPopulation.jl")

# Summary:
1. Sample-free IPF algorithm is well suited for creating joint distributions of the attributes that are independent (94% of cells fit well).
2. Sample-free IPF algorithm is not so efficient for creating joint distributions of the attributes that are highly dependent (20% of cells fit well).
3. To overcome the challenge, we provide a configurable config file which helps better adjust IPF algorithm. The config is described in another file.

# 1. Population with dependent variables

### 1.1. Generate target population with dependent variables
First we generate target population that we'll try to synthesize using available algorithms. The variables marital status and income are highly dependent on sex.

In [3]:
SIZE = 600000
SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; 
MARITAL_STATUS_WEIGHTS_M = [0.1, 0.2, 0.3, 0.4]; 
MARITAL_STATUS_WEIGHTS_F = [0.4, 0.3, 0.2, 0.1];
AGE = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]; 
AGE_WEIGHTS = repeat([1 / 16], 16)
INCOME = [40000, 50000, 60000, 70000, 80000]; 
INCOME_WEIGHTS_M = [0.01, 0.1, 0.2, 0.3, 0.39];
INCOME_WEIGHTS_F = [0.39, 0.3, 0.2, 0.1, 0.01];

using StatsBase
population_m = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS),Int(SIZE / 2)),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_STATUS_WEIGHTS_M), Int(SIZE / 2)),
    SEX = repeat(['M'], Int(SIZE / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_M), Int(SIZE / 2)),
)
population_f = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS), Int(SIZE / 2)),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_STATUS_WEIGHTS_F), Int(SIZE / 2)),
    SEX = repeat(['F'], Int(SIZE / 2)),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS_F), Int(SIZE / 2)),
)
disaggregated_dependent_population = reduce(vcat, [population_m, population_f])

dependent_population = combine(groupby(disaggregated_dependent_population, names(disaggregated_dependent_population), sort=true), nrow)
rename!(dependent_population, :nrow => :population)
sort!(dependent_population, [:INCOME, :SEX, :MARITAL_STATUS, :AGE])

640Ã—5 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String          Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000        1443
   2 â”‚    10  Divorced        F      40000        1462
   3 â”‚    15  Divorced        F      40000        1405
   4 â”‚    20  Divorced        F      40000        1416
   5 â”‚    25  Divorced        F      40000        1397
   6 â”‚    30  Divorced        F      40000        1410
   7 â”‚    35  Divorced        F      40000        1539
   8 â”‚    40  Divorced        F      40000        1541
   9 â”‚    45  Divorced        F      40000        1433
  10 â”‚    50  Divorced        F      40000        1394
  11 â”‚    55  Divorced        F      40000        1414
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed         M      80000        2961
 632 â”‚    40  Widowed         M      80000        2976
 633 â”‚    45  Widowed         M      80000        2945
 634 â”‚    50  Widowed         M      80000        2785
 635 â”‚    55  Widowed         M      80000        2846
 636 â”‚    60  Widowed         M      80000        2911
 637 â”‚    65  Widowed         M      80000        2859
 638 â”‚    70  Widowed         M      80000        2925
 639 â”‚    75  Widowed         M      80000        2981
 640 â”‚    80  Widowed         M      80000        2912
                                       619 rows omitted

### 1.2. Compute marginal attribute distributions of the dependent population
Then we compute the marginal population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [6]:
dependent_age_sex = combine(groupby(disaggregated_dependent_population, [:AGE, :SEX], sort=true), nrow); sort!(dependent_age_sex, [:SEX, :AGE])
dependent_sex_marital = combine(groupby(disaggregated_dependent_population, [:MARITAL_STATUS, :SEX], sort=true), nrow); sort!(dependent_sex_marital, [:SEX, :MARITAL_STATUS])
dependent_income = combine(groupby(disaggregated_dependent_population, [:INCOME], sort=true), nrow)
dependent_age_sex, dependent_sex_marital, dependent_income = map(x -> rename!(x, :nrow => :population), [dependent_age_sex, dependent_sex_marital, dependent_income])

3-element Vector{DataFrame}:
 32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          18503
   2 â”‚    10  F          18844
   3 â”‚    15  F          18729
   4 â”‚    20  F          18751
   5 â”‚    25  F          18642
   6 â”‚    30  F          18799
   7 â”‚    35  F          18839
   8 â”‚    40  F          18834
   9 â”‚    45  F          18785
  10 â”‚    50  F          18755
  11 â”‚    55  F          18602
  â‹®  â”‚   â‹®     â‹®        â‹®
  23 â”‚    35  M          18976
  24 â”‚    40  M          18706
  25 â”‚    45  M          18492
  26 â”‚    50  M          18861
  27 â”‚    55  M          18457
  28 â”‚    60  M          18736
  29 â”‚    65  M          18926
  30 â”‚    70  M          18758
  31 â”‚    75  M          18840
  32 â”‚    80  M          18727
                11 rows omitted
 8Ã—3 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population
     â”‚ String          Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          59942
   2 â”‚ Married         F          90102
   3 â”‚ Not_married     F         120003
   4 â”‚ Widowed         F          29953
   5 â”‚ Divorced        M          89888
   6 â”‚ Married         M          60462
   7 â”‚ Not_married     M          29851
   8 â”‚ Widowed         M         119799
 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000      119828
   2 â”‚  50000      119958
   3 â”‚  60000      120061
   4 â”‚  70000      120188
   5 â”‚  80000      119965

### 1.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the attributes.

In [7]:
#dependent population
generated_dependent_aggregated_population = generate_joint_distribution(dependent_age_sex, dependent_sex_marital, dependent_income)
generated_dependent_aggregated_population = generated_dependent_aggregated_population[:, Not(:id)]

[ Info: Converged in 2 iterations.
[ Info: Converged in 2 iterations.
[ Info: Inconsistent target margins, converting `X` and `mar` to proportions. Margin totals: [599997, 600000]
[ Info: Converged in 1 iterations.

640Ã—5 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String          Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000         738
   2 â”‚    10  Divorced        F      40000         752
   3 â”‚    15  Divorced        F      40000         747
   4 â”‚    20  Divorced        F      40000         748
   5 â”‚    25  Divorced        F      40000         744
   6 â”‚    30  Divorced        F      40000         750
   7 â”‚    35  Divorced        F      40000         752
   8 â”‚    40  Divorced        F      40000         752
   9 â”‚    45  Divorced        F      40000         750
  10 â”‚    50  Divorced        F      40000         748
  11 â”‚    55  Divorced        F      40000         742
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed         M      80000        1515
 632 â”‚    40  Widowed         M      80000        1494
 633 â”‚    45  Widowed         M      80000        1476
 634 â”‚    50  Widowed         M      80000        1506
 635 â”‚    55  Widowed         M      80000        1474
 636 â”‚    60  Widowed         M      80000        1496
 637 â”‚    65  Widowed         M      80000        1511
 638 â”‚    70  Widowed         M      80000        1498
 639 â”‚    75  Widowed         M      80000        1504
 640 â”‚    80  Widowed         M      80000        1495
                                       619 rows omitted

### 1.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by [Williamson, 2013] [1].


[1] Williamson, P. (2013). An evaluation of two synthetic small-area microdata simulation methodologies: Synthetic reconstruction and combinatorial optimisation. Spatial microsimulation: A reference guide for users, 19-47. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

In [8]:
sort!(generated_dependent_aggregated_population)
sort!(dependent_population)
dependent_population.:estimated_population = generated_dependent_aggregated_population.:population

p = dependent_population.:population/sum(dependent_population.:population)
t = dependent_population.:estimated_population/sum(dependent_population.:population)
N = sum(dependent_population.:population)
dependent_population.:Z_score = (p .- t) ./ sqrt.((p .* (1 .- p)) ./ N)
dependent_population

640Ã—7 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population  estimated_population   â‹¯
     â”‚ Int64  String          Char  Int64   Int64       Int64                  â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000        1443                   738   â‹¯
   2 â”‚     5  Divorced        F      50000        1088                   739
   3 â”‚     5  Divorced        F      60000         744                   740
   4 â”‚     5  Divorced        F      70000         373                   741
   5 â”‚     5  Divorced        F      80000          27                   739   â‹¯
   6 â”‚     5  Divorced        M      40000          47                  1114
   7 â”‚     5  Divorced        M      50000         572                  1116
   8 â”‚     5  Divorced        M      60000        1111                  1117
   9 â”‚     5  Divorced        M      70000        1687                  1118   â‹¯
  10 â”‚     5  Divorced        M      80000        2167                  1116
  11 â”‚     5  Married         F      40000        2102                  1110
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®                â‹®             â‹±
 631 â”‚    80  Widowed         F      40000         730                   376
 632 â”‚    80  Widowed         F      50000         548                   376   â‹¯
 633 â”‚    80  Widowed         F      60000         357                   377
 634 â”‚    80  Widowed         F      70000         195                   377
 635 â”‚    80  Widowed         F      80000          19                   376
 636 â”‚    80  Widowed         M      40000          59                  1493   â‹¯
 637 â”‚    80  Widowed         M      50000         728                  1495
 638 â”‚    80  Widowed         M      60000        1486                  1496
 639 â”‚    80  Widowed         M      70000        2195                  1498
 640 â”‚    80  Widowed         M      80000        2912                  1495   â‹¯
                                                   1 column and 619 rows omitted

In [10]:
#percentage of well-fitting values
wfv = count(i -> (-1.96<i<1.96), dependent_population.Z_score) / nrow(dependent_population)
print("Percentage of well fitting values: ", wfv, "\n")

#does the table have a good fit?
cv = sum(dependent_population.Z_score .^ 2) #much more than critical value for chi2 with 640 degrees of freedem -> bad fit
print("Table does not have good fit. Critical value is 640 and our calculated statistic has value: ", cv)

Percentage of well fitting values: 0.1890625
Table does not have good fit. Critical value is 640 and our calculated statistic has value: 2.382529822692407e6

# 2. Population with independent variables

### 2.1. Generate target population with independent variables
First we generate target population that we'll try to synthesize using available algorithms. All variables are independent.

In [13]:
SIZE = 600000
SEX = ['M', 'F']; SEX_WEIGHTS = [0.5, 0.5]
MARITAL_STATUS = ["Not_married", "Married", "Divorced", "Widowed"]; MARITAL_WEIGHTS = [0.3, 0.5, 0.1, 0.1]
AGE = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]; AGE_WEIGHTS = repeat([1 / 16], 16)
INCOME = [40000, 50000, 60000, 70000, 80000]; INCOME_WEIGHTS = [0.2, 0.2, 0.2, 0.2, 0.2]

using StatsBase
disaggregated_independent_population = DataFrame(
    AGE = sample(AGE, Weights(AGE_WEIGHTS), SIZE),
    MARITAL_STATUS = sample(MARITAL_STATUS, Weights(MARITAL_WEIGHTS), SIZE),
    SEX = sample(SEX, Weights(SEX_WEIGHTS), SIZE),
    INCOME = sample(INCOME, Weights(INCOME_WEIGHTS), SIZE),
)

independent_population = combine(groupby(disaggregated_independent_population, names(disaggregated_independent_population), sort=true), nrow)
rename!(independent_population, :nrow => :population)
sort!(dependent_population, [:INCOME, :SEX, :MARITAL_STATUS, :AGE])

640Ã—7 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population  estimated_population   â‹¯
     â”‚ Int64  String          Char  Int64   Int64       Int64                  â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000        1443                   738   â‹¯
   2 â”‚    10  Divorced        F      40000        1462                   752
   3 â”‚    15  Divorced        F      40000        1405                   747
   4 â”‚    20  Divorced        F      40000        1416                   748
   5 â”‚    25  Divorced        F      40000        1397                   744   â‹¯
   6 â”‚    30  Divorced        F      40000        1410                   750
   7 â”‚    35  Divorced        F      40000        1539                   752
   8 â”‚    40  Divorced        F      40000        1541                   752
   9 â”‚    45  Divorced        F      40000        1433                   750   â‹¯
  10 â”‚    50  Divorced        F      40000        1394                   748
  11 â”‚    55  Divorced        F      40000        1414                   742
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®                â‹®             â‹±
 631 â”‚    35  Widowed         M      80000        2961                  1515
 632 â”‚    40  Widowed         M      80000        2976                  1494   â‹¯
 633 â”‚    45  Widowed         M      80000        2945                  1476
 634 â”‚    50  Widowed         M      80000        2785                  1506
 635 â”‚    55  Widowed         M      80000        2846                  1474
 636 â”‚    60  Widowed         M      80000        2911                  1496   â‹¯
 637 â”‚    65  Widowed         M      80000        2859                  1511
 638 â”‚    70  Widowed         M      80000        2925                  1498
 639 â”‚    75  Widowed         M      80000        2981                  1504
 640 â”‚    80  Widowed         M      80000        2912                  1495   â‹¯
                                                   1 column and 619 rows omitted

### 2.2. Compute marginal attribute distributions of the independent population
Then we compute the distributions of population attributes. This is a type of data that we can usually get from the census data and will be input for our algorithms for population generation.

In [15]:
independent_age_sex = combine(groupby(disaggregated_independent_population, [:AGE, :SEX], sort=true), nrow); sort!(independent_age_sex, [:SEX, :AGE])
independent_sex_marital = combine(groupby(disaggregated_independent_population, [:MARITAL_STATUS, :SEX], sort=true), nrow); sort!(independent_sex_marital, [:SEX, :MARITAL_STATUS])
independent_income = combine(groupby(disaggregated_independent_population, [:INCOME], sort=true), nrow);
independent_age_sex, independent_sex_marital, independent_income = map(x -> rename!(x, :nrow => :population), [independent_age_sex, independent_sex_marital, independent_income])

3-element Vector{DataFrame}:
 32Ã—3 DataFrame
 Row â”‚ AGE    SEX   population
     â”‚ Int64  Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  F          19029
   2 â”‚    10  F          18865
   3 â”‚    15  F          18997
   4 â”‚    20  F          18662
   5 â”‚    25  F          18735
   6 â”‚    30  F          18712
   7 â”‚    35  F          18878
   8 â”‚    40  F          18555
   9 â”‚    45  F          18819
  10 â”‚    50  F          18570
  11 â”‚    55  F          18636
  â‹®  â”‚   â‹®     â‹®        â‹®
  23 â”‚    35  M          18797
  24 â”‚    40  M          18724
  25 â”‚    45  M          18704
  26 â”‚    50  M          18827
  27 â”‚    55  M          18683
  28 â”‚    60  M          18795
  29 â”‚    65  M          18777
  30 â”‚    70  M          18744
  31 â”‚    75  M          18773
  32 â”‚    80  M          18663
                11 rows omitted
 8Ã—3 DataFrame
 Row â”‚ MARITAL_STATUS  SEX   population
     â”‚ String          Char  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Divorced        F          29829
   2 â”‚ Married         F         150005
   3 â”‚ Not_married     F          90351
   4 â”‚ Widowed         F          29942
   5 â”‚ Divorced        M          29817
   6 â”‚ Married         M         149843
   7 â”‚ Not_married     M          90180
   8 â”‚ Widowed         M          30033
 5Ã—2 DataFrame
 Row â”‚ INCOME  population
     â”‚ Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚  40000      120309
   2 â”‚  50000      119579
   3 â”‚  60000      120290
   4 â”‚  70000      119898
   5 â”‚  80000      119924

### 2.3. Generate dependent population from marginals
Then, we use our algorithm to estimate joint distribution of the attributes.

In [16]:
#dependent population
generated_aggregated_indep_population = generate_joint_distribution(independent_age_sex, independent_sex_marital, independent_income)
generated_aggregated_indep_population = generated_aggregated_indep_population[:, Not(:id)]

[ Info: Converged in 2 iterations.
[ Info: Converged in 2 iterations.
[ Info: Converged in 2 iterations.

640Ã—5 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population
     â”‚ Int64  String          Char  Int64   Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000         379
   2 â”‚    10  Divorced        F      40000         376
   3 â”‚    15  Divorced        F      40000         379
   4 â”‚    20  Divorced        F      40000         372
   5 â”‚    25  Divorced        F      40000         373
   6 â”‚    30  Divorced        F      40000         373
   7 â”‚    35  Divorced        F      40000         376
   8 â”‚    40  Divorced        F      40000         370
   9 â”‚    45  Divorced        F      40000         375
  10 â”‚    50  Divorced        F      40000         370
  11 â”‚    55  Divorced        F      40000         371
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®
 631 â”‚    35  Widowed         M      80000         376
 632 â”‚    40  Widowed         M      80000         375
 633 â”‚    45  Widowed         M      80000         374
 634 â”‚    50  Widowed         M      80000         377
 635 â”‚    55  Widowed         M      80000         374
 636 â”‚    60  Widowed         M      80000         376
 637 â”‚    65  Widowed         M      80000         376
 638 â”‚    70  Widowed         M      80000         375
 639 â”‚    75  Widowed         M      80000         376
 640 â”‚    80  Widowed         M      80000         374
                                       619 rows omitted

### 2.4. Evaluation of fit of generated dependent population.
Finally, we evaluate if the generated population is correct. We use approach based on Z-score described by [Williamson, 2013] [1].


[1] Williamson, P. (2013). An evaluation of two synthetic small-area microdata simulation methodologies: Synthetic reconstruction and combinatorial optimisation. Spatial microsimulation: A reference guide for users, 19-47. https://ndl.ethernet.edu.et/bitstream/123456789/14722/1/205.pdf#page=38

In [17]:
sort!(generated_aggregated_indep_population)
sort!(independent_population)
independent_population.:estimated_population = generated_aggregated_indep_population.:population

p = independent_population.:population/sum(independent_population.:population)
t = independent_population.:estimated_population/sum(independent_population.:population)
N = sum(independent_population.:population)
independent_population.:Z_score = (p .- t) ./ sqrt.((p .* (1 .- p)) ./ N)

independent_population

640Ã—7 DataFrame
 Row â”‚ AGE    MARITAL_STATUS  SEX   INCOME  population  estimated_population   â‹¯
     â”‚ Int64  String          Char  Int64   Int64       Int64                  â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5  Divorced        F      40000         423                   379   â‹¯
   2 â”‚     5  Divorced        F      50000         379                   377
   3 â”‚     5  Divorced        F      60000         382                   379
   4 â”‚     5  Divorced        F      70000         352                   378
   5 â”‚     5  Divorced        F      80000         393                   378   â‹¯
   6 â”‚     5  Divorced        M      40000         374                   370
   7 â”‚     5  Divorced        M      50000         359                   368
   8 â”‚     5  Divorced        M      60000         373                   370
   9 â”‚     5  Divorced        M      70000         359                   368   â‹¯
  10 â”‚     5  Divorced        M      80000         384                   369
  11 â”‚     5  Married         F      40000        1892                  1907
  â‹®  â”‚   â‹®          â‹®          â‹®      â‹®         â‹®                â‹®             â‹±
 631 â”‚    80  Widowed         F      40000         384                   376
 632 â”‚    80  Widowed         F      50000         388                   374   â‹¯
 633 â”‚    80  Widowed         F      60000         433                   376
 634 â”‚    80  Widowed         F      70000         354                   375
 635 â”‚    80  Widowed         F      80000         374                   375
 636 â”‚    80  Widowed         M      40000         357                   375   â‹¯
 637 â”‚    80  Widowed         M      50000         365                   372
 638 â”‚    80  Widowed         M      60000         359                   375
 639 â”‚    80  Widowed         M      70000         368                   373
 640 â”‚    80  Widowed         M      80000         363                   374   â‹¯
                                                   1 column and 619 rows omitted

In [18]:
#percentage of well-fitting values
wfv = count(i -> (-1.96<i<1.96), independent_population.Z_score) / nrow(independent_population)
print("Percentage of well fitting values: ", wfv, "\n")

#does the table have a good fit?
cv = sum(independent_population.Z_score .^ 2) #much more than critical value for chi2 with 640 degrees of freedem -> bad fit
print("Table does have good fit. Critical value is 640 and our calculated statistic has value: ", cv)

Percentage of well fitting values: 0.959375
Table does have good fit. Critical value is 640 and our calculated statistic has value: 582.668278043634